In [5]:
import pandas as pd

In [83]:
# Load the tables
donations = pd.read_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Clean/donation_table.csv')
donor = pd.read_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Clean/donor_table.csv')
events = pd.read_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Clean/event_table.csv')
participants = pd.read_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Clean/participants_table.csv')
team = pd.read_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Clean/team_table.csv')

In [23]:
participants.columns

Index(['p_gender', 'p_state', 'p_city', 'p_goal_amt', 'contactID', 'teamID',
       'eventID'],
      dtype='object')

In [19]:

rows = participants.shape[0]
rows

228577

In [13]:
events.columns

Index(['e_city', 'e_state', 'e_date', 'eventID', 'e_goal_amt'], dtype='object')

In [15]:
# This will keep only rows in 'participants' that have a matching 'eventID' in 'events'
e_participants = participants.merge(events[['eventID']], on='eventID', how='inner')
e_participants.head

<bound method NDFrame.head of        p_gender p_state           p_city  p_goal_amt  contactID  teamID  \
0        Female      CO           Arvada      1095.0   12314585       0
1        Female      KS          Shawnee      1095.0   15440936  451067
2        Female      PA       Pittsburgh      1095.0    5990607  449427
3          Male      KS           Lenexa      1095.0   14568407       0
4          Male      CO           Denver      1095.0   12770939       0
...         ...     ...              ...         ...        ...     ...
228388   Female      WI        Cambridge      1075.0   10458735  395458
228389   Female      WI        Milwaukee      1075.0   11165199  351752
228390   Female      MN        Rochester      1075.0    8564626  351768
228391     Male      VA     Newport News      1075.0   13525569  352278
228392     Male      WI  South Milwaukee       300.0    3019528       0

        eventID
0         26886
1         26886
2         26886
3         26886
4         26886
...         ...
228388    22517
228389    22517
228390    22517
228391    22517
228392    22517

[228393 rows x 7 columns]>

In [21]:
rows = e_participants.shape[0]
rows

228393

In [27]:
# This will keep only rows in 'participants' that have a matching 'teamID' in 'Team'
e_t_participants = e_participants.merge(team[['teamID']], on='teamID', how='inner')
rows = e_participants.shape[0]
rows

228393

In [30]:
#Extract clean file
e_t_participants.to_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Clean/e_t_participants_table.csv', index=False)

In [85]:
#donations
donations.columns

Index(['do_add_gift_amt', 'donorID', 'do_gift_amt', 'do_date_recorded',
       'do_gift_type', 'do_fiscal_yr', 'do_amt_collected', 'p_contactID'],
      dtype='object')

In [87]:
donations.shape[0]

3807376

In [101]:
donations.head()

,do_add_gift_amt,donorID,do_gift_amt,do_date_recorded,do_gift_type,do_fiscal_yr,do_amt_collected,p_contactID
0,0.0,7828995,100.0,2012-09-14 17:34:00,Online,2013,100.0,7744894
1,0.0,11527263,50.0,2012-09-21 14:10:00,Online,2013,50.0,7744894
2,0.0,11527263,25.0,2012-09-21 10:43:00,Online,2013,25.0,7744894
3,0.0,10244498,70.0,2012-10-02 15:58:00,Online,2013,70.0,10244498
4,0.0,11415664,25.0,2012-08-17 14:15:00,Online,2013,25.0,10244498

In [95]:
donations['donorID'] = donations['donorID'].apply(lambda x: str(int(x)) if pd.notna(x) else x)

In [99]:
donations['p_contactID'] = donations['p_contactID'].apply(lambda x: str(int(x)) if pd.notna(x) else x)

In [103]:
donor.head()

  d_gender   d_county d_state      d_city   donorID
0   Female      Hinds      MS     Jackson   7828995
1   Female  Jefferson      AL  Birmingham  11527263
2     Male     Denton      TX      Frisco  10244498
3   Female       Hays      TX      Austin  11415664
4     Male    Madison      MS     Madison  10548237

In [107]:
null = donor.isna().sum()
null

d_gender    0
d_county    0
d_state     0
d_city      0
donorID     0
dtype: int64

In [109]:
#join donor
# Convert 'donorID' in both DataFrames to string
donations['donorID'] = donations['donorID'].astype(str)
donor['donorID'] = donor['donorID'].astype(str)

# Perform the merge
d_donations = donations.merge(donor[['donorID']], on='donorID', how='inner')
d_donations.shape[0]

3807375

In [111]:
#join participant
participants.head()

  p_gender p_state      p_city  p_goal_amt  contactID  teamID  eventID
0     Male      CO      Denver      1095.0   12495541       0    26846
1   Female      CO      Arvada      1095.0   12314585       0    26886
2   Female      KS     Shawnee      1095.0   15440936  451067    26886
3   Female      PA  Pittsburgh      1095.0    5990607  449427    26886
4     Male      KS      Lenexa      1095.0   14568407       0    26886

In [115]:
# This will keep only rows in 'donation' that have a matching 'p_contactID' in 'participants'

donations['p_contactID'] = donations['p_contactID'].astype(str)
participants['contactID'] = participants['contactID'].astype(str)

d_p_donations = d_donations.merge(participants[['contactID']], left_on='p_contactID', right_on='contactID', how='inner')
d_p_donations.shape[0]

3758489

In [117]:
#extract
d_p_donations.to_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Clean/d_p_donations.csv', index=False)