In [50]:
import pandas as pd
import glob
import numpy as np
import re
# Import the tabulate library
from tabulate import tabulate
from uszipcode import SearchEngine
import concurrent.futures

In [51]:
# Load dataset
events = pd.read_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Revised Dataset/2013-2017 Bike Events.csv')

# print
pd.set_option('display.max_columns',None)
events.head()

,Fiscal Year,Event ID,Security Category Name,Public Event Name,Event Created Date,Event Date,Event Goal($),Active Registrations,Inactive Registrations,Total Fees Paid,Total of All Confirmed Gifts($),Total Online Gifts($),Teams,Captains,Average Team Size,Team pages with custom URL,Emails Sent,Personal pages with custom URL,Total Offline Confirmed Gifts($),Self Donors,Total From Participant($),Non-self Donors,Total Not From Participant($),Total Team Gifts($),Total Event Gifts($),Total Offline Unconfirmed Gifts($),Street Address,City,State,Zip Code,Internal Event Name,Previous Event ID
0,2016,27155,AKA Bike Events,Bike MS: Sitka 2016,10/6/2015 10:02,9/1/2016 8:42,0,1,0,0.00,0.00,0.00,0,0,0,0,0,0,0.00,0,0.00,1,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,AKA 2016 Bike MS: Sitka,0
1,2016,27154,AKA Bike Events,Bike MS: Fairbanks 2016 (TEST ONLY),10/5/2015 18:02,3/19/2016 14:39,500000,45,0,0.00,0.00,0.00,6,6,4,0,1,0,0.00,0,0.00,45,0.00,0.00,0.00,0.00,2010 2nd Avenue,Fairbanks,AK,99701.00,AKA 2016 Bike MS: Fairbanks,0
2,2016,26886,AKA Bike Events,Bike MS: Anchorage 2016,8/19/2015 12:07,9/1/2016 13:02,0,7,0,0.00,0.00,0.00,2,2,1,0,17,1,0.00,0,0.00,7,0.00,0.00,0.00,0.00,NaN,Anchorage,AK,99501.00,AKA 2016 Bike MS: Anchorage,0
3,2016,27089,AKA Bike Events,Bike MS: Juno 2016,9/29/2015 23:36,12/31/2016 23:39,0,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0.00,0,0.00,0,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,AKA 2016 Bike MS: Juno,0
4,2015,26357,ALC Bike Events,BB test,5/5/2015 13:06,1/1/2015 12:16,10000,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0.00,0,0.00,0,0.00,0.00,0.00,0.00,NaN,NaN,AL,NaN,BB test,0

In [52]:
dictionary = []
# Iterate through columns

# total rows
total_rows = len(events)

for col in events.columns:
    data_type = events[col].dtype
    length = None
    if data_type == object:
        length = events[col].str.len().max()
    
    length_format = '{:,.0f}'.format(length) if length is not None else None
    
    num_nulls = events[col].isnull().sum()
    num_nulls_format = '{:,}'.format(num_nulls)
    percentage_null = (num_nulls/total_rows) * 100
    percentage_null_format = '{:,.2f}%'.format(percentage_null)
    num_distinct = events[col].nunique()
    num_distinct_format = '{:,}'.format(num_distinct)
    
    # Initialize min and max values
    min_value = None
    max_value = None
    
    # Check if column is numeric
    if np.issubdtype(data_type, np.number):
        min_value = events[col].min()
        max_value = events[col].max()
        
    # Calculate avergae for numeric columns
    average = events[col].mean() if np.issubdtype(data_type, np.number) else None
        
    #Sample values
    sample_values = events[col].dropna().sample(5).tolist()
    
    #Append all info to dictionary list
    dictionary.append([col, data_type, length_format, num_nulls_format, percentage_null_format, num_distinct_format, min_value, max_value, average, sample_values])
    
# Create a df for the dictionary
dictionary_df = pd.DataFrame(dictionary, columns=['Column', 'Data_Type', 'Max_Character_Length', 'Null_Value_Count', 'Null_Percentage','Distinct_Value_Count', 'Min_Value', 'Max_Value','Average','Sample_Values'])

# So that Sample_Values are not truncated
pd.set_option('display.max_colwidth', 300)

# sort = dictionary_df.sort_values(by='Null_Value_Count')
# sort

dictionary_df

,Column,Data_Type,Max_Character_Length,Null_Value_Count,Null_Percentage,Distinct_Value_Count,Min_Value,Max_Value,Average,Sample_Values
0,Fiscal Year,int64,None,0,0.00%,5,2013.00,2017.00,2014.63,"[2014, 2014, 2014, 2015, 2013]"
1,Event ID,int64,None,0,0.00%,700,17966.00,29175.00,24028.87,"[21279, 21764, 28915, 19458, 20363]"
2,Security Category Name,object,15,0,0.00%,53,NaN,NaN,NaN,"[OHA Bike Events, FLS Bike Events, CAS Bike Events, MNM Bike Events, NYR Bike Events]"
3,Public Event Name,object,104,0,0.00%,655,NaN,NaN,NaN,"[Bike MS: FedEx Rockin' Ride to Oxford, Bike MS: New York City 2014, Massachusetts - Bike MS: Ride The Vineyard 2013, Bike MS : Country Challenge 2015, RIR Bike MS 2013]"
4,Event Created Date,object,16,0,0.00%,590,NaN,NaN,NaN,"[12/7/2015 9:46, 11/21/2016 14:49, 7/25/2012 10:24, 1/7/2014 10:27, 11/30/2012 12:04]"
5,Event Date,object,16,102,14.57%,569,NaN,NaN,NaN,"[6/8/2013 10:58, 4/12/2014 10:09, 8/3/2013 10:30, 7/8/2017 12:12, 8/4/2013 16:08]"
6,Event Goal($),int64,None,0,0.00%,225,0.00,20000000.00,722502.62,"[1000, 530000, 300000, 25000, 350000]"
7,Active Registrations,int64,None,0,0.00%,421,0.00,14871.00,677.30,"[1896, 2570, 243, 134, 1186]"
8,Inactive Registrations,int64,None,0,0.00%,111,0.00,1063.00,25.62,"[0, 17, 3, 0, 164]"
9,Total Fees Paid,float64,None,0,0.00%,464,0.00,1584950.00,26357.97,"[1235.0, 0.0, 0.0, 0.0, 0.0]"
10,Total of All Confirmed Gifts($),float64,None,0,0.00%,490,0.00,18051599.81,497430.18,"[2535.0, 0.0, 417555.66, 0.0, 0.0]"
11,Total Online Gifts($),float64,None,0,0.00%,477,0.00,13549216.48,343195.83,"[1108795.97, 1005924.12, 78626.0, 419666.86, 31433.55]"
12,Teams,int64,None,0,0.00%,169,0.00,716.00,49.51,"[64, 410, 8, 0, 716]"
13,Captains,int64,None,0,0.00%,172,0.00,781.00,54.95,"[28, 18, 8, 537, 39]"
14,Average Team Size,int64,None,0,0.00%,27,0.00,134.00,5.66,"[7, 4, 14, 109, 0]"
15,Team pages with custom URL,int64,None,0,0.00%,51,0.00,214.00,5.24,"[2, 0, 0, 10, 2]"
16,Emails Sent,int64,None,0,0.00%,463,0.00,518353.00,17507.88,"[0, 0, 2514, 97661, 7099]"
17,Personal pages with custom URL,int64,None,0,0.00%,133,0.00,913.00,31.75,"[19, 49, 18, 7, 18]"
18,Total Offline Confirmed Gifts($),float64,None,0,0.00%,475,0.00,4683143.60,154234.34,"[28244.55, 0.0, 29140.0, 389455.43, 100.0]"
19,Self Donors,int64,None,0,0.00%,338,0.00,7283.00,324.70,"[0, 0, 1, 109, 396]"
20,Total From Participant($),float64,None,0,0.00%,473,0.00,4286214.01,89777.93,"[0.0, 0.0, 0.0, 47554.72, 0.0]"
21,Non-self Donors,int64,None,0,0.00%,373,0.00,8651.00,378.22,"[490, 159, 1, 221, 809]"
22,Total Not From Participant($),float64,None,0,0.00%,485,0.00,16094744.58,437115.79,"[0.0, 352514.14, 960.0, 57965.42, 0.0]"
23,Total Team Gifts($),float64,None,0,0.00%,420,0.00,317524.28,11252.47,"[11955.0, 0.0, 0.0, 0.0, 44680.03]"
24,Total Event Gifts($),float64,None,0,0.00%,407,0.00,830681.60,17636.86,"[27098.0, 350.0, 5361.0, 113531.0, 63607.09]"
25,Total Offline Unconfirmed Gifts($),float64,None,0,0.00%,407,0.00,2203443.56,23498.36,"[0.0, 495.0, 0.0, 8030.0, 56343.73]"
26,Street Address,object,48,319,45.57%,229,NaN,NaN,NaN,"[225 Pleasant Valley Rd, 37 Corey Road, 3609 South Western Ave. , 11310 SW 17th Street, 11310 SW 17th Street]"
27,City,object,47,188,26.86%,192,NaN,NaN,NaN,"[Glen Allen, Ponte Vedra Beach , West Long Branch, Clemmons, Sundance]"
28,State,object,2,152,21.71%,50,NaN,NaN,NaN,"[OH, AR, NY, NY, NY]"
29,Zip Code,float64,None,214,30.57%,192,0.00,99999.00,43960.90,"[7764.0, 83837.0, 2171.0, 19701.0, 70401.0]"
30,Internal Event Name,object,81,0,0.00%,700,NaN,NaN,NaN,"[KSG 2016 Bike MS: Nebraska Ride, Nicole Bike Test, TXH 2017 Bike MS: Dallas - Transportation, NJM 2016 Bike MS: Country Challenge, NYH - 2013 MS Great 8 Tour Du Lac]"
31,Previous Event ID,int64,None,0,0.00%,478,0.00,28045.00,16297.80,"[27079, 25529, 20066, 0, 19752]"

In [53]:
events.shape[0]

700

# Zip Code

In [54]:
# Convert 'Zip Code' column to string
events['Zip Code'] = events['Zip Code'].astype(str)

# Now apply .str.contains() with the special character pattern
special_char_values = events[events['Zip Code'].str.contains('[^0-9.]', na=False)]['Zip Code']

# Display the values that contain special characters
special_char_values

0      nan
3      nan
4      nan
5      nan
6      nan
      ...
668    nan
681    nan
694    nan
695    nan
696    nan
Name: Zip Code, Length: 214, dtype: object

In [55]:
# Convert 'Zip Code' column to string to ensure string operations can be performed
events['Zip Code'] = events['Zip Code'].astype(str)

# Filter rows where 'Zip Code' starts with '0'
zip_starts_with_0 = events[events['Zip Code'].str.startswith('0')]

# Display the filtered DataFrame
zip_starts_with_0

,Fiscal Year,Event ID,Security Category Name,Public Event Name,Event Created Date,Event Date,Event Goal($),Active Registrations,Inactive Registrations,Total Fees Paid,Total of All Confirmed Gifts($),Total Online Gifts($),Teams,Captains,Average Team Size,Team pages with custom URL,Emails Sent,Personal pages with custom URL,Total Offline Confirmed Gifts($),Self Donors,Total From Participant($),Non-self Donors,Total Not From Participant($),Total Team Gifts($),Total Event Gifts($),Total Offline Unconfirmed Gifts($),Street Address,City,State,Zip Code,Internal Event Name,Previous Event ID
619,2016,27922,TXH Bike Events,TXH 2016 Bike MS: San Antonio,2/1/2016 10:33,12/31/2016 10:35,999999,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0.00,0,0.00,0,0.00,0.00,0.00,0.00,[START ADDRESS],[START CITY],TX,0.0,TXH 2016 Bike MS: San Antonio [DO NOT USE],0

In [56]:
events['Zip Code'] = events['Zip Code'].astype(str)

In [57]:
# Remove decimals from zip codes
events['Zip Code'] = events['Zip Code'].apply(lambda x: x.split('.')[0])

In [58]:
events['Zip Code']

0        nan
1      99701
2      99501
3        nan
4        nan
       ...
695      nan
696      nan
697    53072
698    53072
699    53072
Name: Zip Code, Length: 700, dtype: object

# City

In [59]:
num_nulls = events['City'].isnull().sum()
num_nulls

188

In [60]:
# City imputation

# Initialize the SearchEngine
search = SearchEngine()
# Example function to impute missing state based on ZIP code
def impute_state_from_zip(row):
    if pd.isnull(row['City']) and not pd.isnull(row['Zip Code']):
        # Use the uszipcode library to search by ZIP code
        zipcode_info = search.by_zipcode(row['Zip Code'])
        if zipcode_info:
            # If there's a result, return the state associated with the ZIP code
            return zipcode_info.state
    # Return the original state if it's not missing or if ZIP code info wasn't found
    return row['City']

# Apply the function to impute missing 'Donor State' values
events['City'] = events.apply(impute_state_from_zip, axis=1)

In [61]:
# Remove invalid cities

# Initialize the SearchEngine
search = SearchEngine()

# Validation function to check if the city is correct for the zip code
def is_valid_city(zip_code, city):
    zip_info = search.by_zipcode(zip_code)
    return zip_info and zip_info.major_city and zip_info.major_city.lower() == city.lower()

# Use numpy.where to replace invalid cities with NaN
events['City'] = np.where(events.apply(lambda row: is_valid_city(row['Zip Code'], row['City']), axis=1), events['City'], np.nan)

# State

In [62]:
# State value
max_length_value = events['State'].astype(str).apply(len).idxmax()
max_length = events['State'].astype(str).apply(len).max()
value_with_max_length = events.at[max_length_value, 'State']
value_with_max_length

unique_values = events['State'].unique()
print(unique_values)

[nan 'AK' 'AL' 'MS' 'AR' 'AZ' 'CA' 'NV' 'HI' 'CO' 'WY' 'CT' 'DC' 'MD' 'VA'
 'DE' 'FL' 'GA' 'IL' 'IN' 'KS' 'NE' 'MO' 'KY' 'LA' 'NH' 'RI' 'ME' 'MA'
 'VT' 'MI' 'MN' 'ND' 'SD' 'IA' 'NC' 'NJ' 'NM' 'NY' 'OH' 'OK' 'TX' 'OR'
 'PA' 'TN' 'UT' 'WV' 'ID' 'MT' 'WA' 'WI']

In [63]:
num_nulls = events['State'].isnull().sum()
num_nulls

152

In [64]:
# State imputation

# Initialize the SearchEngine
search = SearchEngine()
# Example function to impute missing state based on ZIP code
def impute_state_from_zip(row):
    if pd.isnull(row['State']) and not pd.isnull(row['Zip Code']):
        # Use the uszipcode library to search by ZIP code
        zipcode_info = search.by_zipcode(row['Zip Code'])
        if zipcode_info:
            # If there's a result, return the state associated with the ZIP code
            return zipcode_info.state
    # Return the original state if it's not missing or if ZIP code info wasn't found
    return row['State']

# Apply the function to impute missing 'Donor State' values
events['State'] = events.apply(impute_state_from_zip, axis=1)

In [65]:
search = SearchEngine()

def validate_state(zip_code, state):
    zip_info = search.by_zipcode(zip_code)
    if zip_info and zip_info.state:
        return zip_info.state.lower() == state.lower()
    return False

# Generate a list of validation results
validation_results = [validate_state(row['Zip Code'], row['State']) for index, row in events.iterrows()]

# If you want to print the results:
for index, result in enumerate(validation_results):
    print(f"Row {index} - Zip: {events.iloc[index]['Zip Code']}, State: {events.iloc[index]['State']} - {'Valid' if result else 'Invalid'}")

# validation_results contains True (valid) or False (invalid) for each row

Row 0 - Zip: nan, State: nan - Invalid
Row 1 - Zip: 99701, State: AK - Valid
Row 2 - Zip: 99501, State: AK - Valid
Row 3 - Zip: nan, State: nan - Invalid
Row 4 - Zip: nan, State: AL - Invalid
Row 5 - Zip: nan, State: nan - Invalid
Row 6 - Zip: nan, State: AL - Invalid
Row 7 - Zip: nan, State: nan - Invalid
Row 8 - Zip: nan, State: AL - Invalid
Row 9 - Zip: 39110, State: MS - Valid
Row 10 - Zip: 35611, State: AL - Valid
Row 11 - Zip: 35611, State: AL - Valid
Row 12 - Zip: 36561, State: AL - Valid
Row 13 - Zip: 39056, State: MS - Valid
Row 14 - Zip: 39056, State: MS - Valid
Row 15 - Zip: 39056, State: MS - Valid
Row 16 - Zip: 35611, State: AL - Valid
Row 17 - Zip: 36561, State: AL - Valid
Row 18 - Zip: 36561, State: AL - Valid
Row 19 - Zip: 35756, State: AL - Valid
Row 20 - Zip: nan, State: nan - Invalid
Row 21 - Zip: 36561, State: AL - Valid
Row 22 - Zip: 39157, State: MS - Valid
Row 23 - Zip: 36561, State: AL - Valid
Row 24 - Zip: 35611, State: AL - Valid
Row 25 - Zip: 72118, State: AR - Valid
Row 26 - Zip: 72118, State: AR - Valid
Row 27 - Zip: 72118, State: AR - Valid
Row 28 - Zip: 72118, State: AR - Valid
Row 29 - Zip: 86326, State: AZ - Valid
Row 30 - Zip: 85382, State: AZ - Valid
Row 31 - Zip: 85264, State: AZ - Valid
Row 32 - Zip: nan, State: nan - Invalid
Row 33 - Zip: 85264, State: AZ - Valid
Row 34 - Zip: 86326, State: AZ - Valid
Row 35 - Zip: nan, State: CA - Invalid
Row 36 - Zip: 90401, State: CA - Valid
Row 37 - Zip: 93001, State: CA - Valid
Row 38 - Zip: nan, State: NV - Invalid
Row 39 - Zip: nan, State: nan - Invalid
Row 40 - Zip: nan, State: nan - Invalid
Row 41 - Zip: nan, State: nan - Invalid
Row 42 - Zip: nan, State: nan - Invalid
Row 43 - Zip: 89103, State: NV - Valid
Row 44 - Zip: 93001, State: CA - Valid
Row 45 - Zip: 90401, State: CA - Valid
Row 46 - Zip: 91103, State: CA - Valid
Row 47 - Zip: 89106, State: NV - Valid
Row 48 - Zip: nan, State: CA - Invalid
Row 49 - Zip: 94158, State: CA - Valid
Row 50 - Zip: 94158, State: CA - Valid
Row 51 - Zip: nan, State: CA - Invalid
Row 52 - Zip: 94928, State: CA - Valid
Row 53 - Zip: nan, State: CA - Invalid
Row 54 - Zip: nan, State: nan - Invalid
Row 55 - Zip: nan, State: nan - Invalid
Row 56 - Zip: 92008, State: CA - Valid
Row 57 - Zip: nan, State: nan - Invalid
Row 58 - Zip: 92618, State: CA - Valid
Row 59 - Zip: 92618, State: CA - Valid
Row 60 - Zip: 92008, State: CA - Valid
Row 61 - Zip: 92618, State: CA - Valid
Row 62 - Zip: nan, State: nan - Invalid
Row 63 - Zip: 96738, State: HI - Valid
Row 64 - Zip: nan, State: nan - Invalid
Row 65 - Zip: 80031, State: CO - Valid
Row 66 - Zip: nan, State: nan - Invalid
Row 67 - Zip: 82801, State: WY - Valid
Row 68 - Zip: nan, State: nan - Invalid
Row 69 - Zip: nan, State: nan - Invalid
Row 70 - Zip: nan, State: nan - Invalid
Row 71 - Zip: 82801, State: WY - Valid
Row 72 - Zip: nan, State: nan - Invalid
Row 73 - Zip: nan, State: nan - Invalid
Row 74 - Zip: 80031, State: CO - Valid
Row 75 - Zip: 80031, State: CO - Valid
Row 76 - Zip: nan, State: nan - Invalid
Row 77 - Zip: nan, State: nan - Invalid
Row 78 - Zip: 80031, State: CO - Valid
Row 79 - Zip: 80031, State: CO - Valid
Row 80 - Zip: 80031, State: CO - Valid
Row 81 - Zip: nan, State: nan - Invalid
Row 82 - Zip: nan, State: nan - Invalid
Row 83 - Zip: nan, State: nan - Invalid
Row 84 - Zip: nan, State: nan - Invalid
Row 85 - Zip: 82729, State: WY - Valid
Row 86 - Zip: 82729, State: WY - Valid
Row 87 - Zip: nan, State: CO - Invalid
Row 88 - Zip: 82729, State: WY - Valid
Row 89 - Zip: 80031, State: CO - Valid
Row 90 - Zip: 6902, State: CT - Valid
Row 91 - Zip: 6095, State: CT - Valid
Row 92 - Zip: 6095, State: CT - Valid
Row 93 - Zip: 6095, State: CT - Valid
Row 94 - Zip: 6095, State: CT - Valid
Row 95 - Zip: 6120, State: CT - Valid
Row 96 - Zip: 6880, State: CT - Valid
Row 97 - Zip: 6880, State: CT - Valid
Row 98 - Zip: 6120, State: CT - Valid
Row 99 - Zip: nan, State: nan - Invalid
Row 100 - Zip: nan, State: CT - Invalid
Row 101 - Zip: nan, State: nan - Invalid
Row 102 - Zip: nan, State: nan - Invalid
Row 103 - Zip: nan, State: nan - Invalid
Row 104 - Zip: 6880, State: CT - Valid
Row 105 - Zip: 6095, State: CT - Valid
Row 106 - Zip: 6880, State: CT - Valid
Row 107 - Zip: 20036, State: DC - Valid
Row 108 - Zip: nan, State: nan - Invalid
Row 109 - Zip: 20745, State: MD - Valid
Row 110 - Zip: 20132, State: VA - Valid
Row 111 - Zip: nan, State: nan - Invalid
Row 112 - Zip: nan, State: DE - Invalid
Row 113 - Zip: 19904, State: DE - Valid
Row 114 - Zip: 19701, State: DE - Valid
Row 115 - Zip: 19904, State: DE - Valid
Row 116 - Zip: 19904, State: DE - Valid
Row 117 - Zip: 19701, State: DE - Valid
Row 118 - Zip: nan, State: nan - Invalid
Row 119 - Zip: nan, State: nan - Invalid
Row 120 - Zip: nan, State: nan - Invalid
Row 121 - Zip: nan, State: nan - Invalid
Row 122 - Zip: nan, State: nan - Invalid
Row 123 - Zip: 33868, State: FL - Valid
Row 124 - Zip: 33859, State: FL - Valid
Row 125 - Zip: 33859, State: FL - Valid
Row 126 - Zip: nan, State: FL - Invalid
Row 127 - Zip: 33868, State: FL - Valid
Row 128 - Zip: 32821, State: FL - Valid
Row 129 - Zip: 33859, State: FL - Valid
Row 130 - Zip: nan, State: nan - Invalid
Row 131 - Zip: 32084, State: FL - Valid
Row 132 - Zip: 32082, State: FL - Valid
Row 133 - Zip: nan, State: nan - Invalid
Row 134 - Zip: 32082, State: FL - Valid
Row 135 - Zip: 32084, State: FL - Valid
Row 136 - Zip: 32082, State: FL - Valid
Row 137 - Zip: nan, State: nan - Invalid
Row 138 - Zip: nan, State: FL - Invalid
Row 139 - Zip: 33199, State: FL - Valid
Row 140 - Zip: 33199, State: FL - Valid
Row 141 - Zip: 33199, State: FL - Valid
Row 142 - Zip: 33199, State: FL - Valid
Row 143 - Zip: nan, State: FL - Invalid
Row 144 - Zip: 33199, State: FL - Valid
Row 145 - Zip: nan, State: nan - Invalid
Row 146 - Zip: 33174, State: FL - Valid
Row 147 - Zip: 33146, State: FL - Valid
Row 148 - Zip: nan, State: nan - Invalid
Row 149 - Zip: 31822, State: GA - Valid
Row 150 - Zip: 31822, State: GA - Valid
Row 151 - Zip: 30263, State: GA - Valid
Row 152 - Zip: 31822, State: GA - Valid
Row 153 - Zip: nan, State: nan - Invalid
Row 154 - Zip: nan, State: HI - Invalid
Row 155 - Zip: 96738, State: HI - Valid
Row 156 - Zip: 96817, State: HI - Valid
Row 157 - Zip: nan, State: HI - Invalid
Row 158 - Zip: nan, State: HI - Invalid
Row 159 - Zip: 60115, State: IL - Valid
Row 160 - Zip: 60115, State: IL - Valid
Row 161 - Zip: 60115, State: IL - Valid
Row 162 - Zip: 60115, State: IL - Valid
Row 163 - Zip: 60115, State: IL - Valid
Row 164 - Zip: 60115, State: IL - Valid
Row 165 - Zip: nan, State: nan - Invalid
Row 166 - Zip: nan, State: nan - Invalid
Row 167 - Zip: 46013, State: IN - Valid
Row 168 - Zip: 46013, State: IN - Valid
Row 169 - Zip: 46013, State: IN - Valid
Row 170 - Zip: 46052, State: IN - Valid
Row 171 - Zip: nan, State: nan - Invalid
Row 172 - Zip: 46032, State: IN - Valid
Row 173 - Zip: 46032, State: IN - Valid
Row 174 - Zip: nan, State: nan - Invalid
Row 175 - Zip: 67124, State: KS - Valid
Row 176 - Zip: 67042, State: KS - Valid
Row 177 - Zip: 66044, State: KS - Valid
Row 178 - Zip: 67042, State: KS - Valid
Row 179 - Zip: 67010, State: KS - Valid
Row 180 - Zip: 68005, State: NE - Valid
Row 181 - Zip: 65738, State: MO - Valid
Row 182 - Zip: 65738, State: MO - Valid
Row 183 - Zip: 67124, State: KS - Valid
Row 184 - Zip: 66062, State: KS - Valid
Row 185 - Zip: 68102, State: NE - Valid
Row 186 - Zip: 66062, State: KS - Valid
Row 187 - Zip: 65631, State: MO - Valid
Row 188 - Zip: 65631, State: MO - Valid
Row 189 - Zip: 66062, State: KS - Valid
Row 190 - Zip: nan, State: nan - Invalid
Row 191 - Zip: 65738, State: MO - Valid
Row 192 - Zip: nan, State: nan - Invalid
Row 193 - Zip: 68005, State: NE - Valid
Row 194 - Zip: nan, State: nan - Invalid
Row 195 - Zip: nan, State: nan - Invalid
Row 196 - Zip: 68005, State: NE - Valid
Row 197 - Zip: 67124, State: KS - Valid
Row 198 - Zip: 66062, State: KS - Valid
Row 199 - Zip: 65738, State: MO - Valid
Row 200 - Zip: 68005, State: NE - Valid
Row 201 - Zip: 68005, State: NE - Valid
Row 202 - Zip: 66062, State: KS - Valid
Row 203 - Zip: 65631, State: MO - Valid
Row 204 - Zip: 67950, State: KS - Valid
Row 205 - Zip: 40065, State: KY - Valid
Row 206 - Zip: 40511, State: KY - Valid
Row 207 - Zip: 47025, State: KY - Invalid
Row 208 - Zip: 40207, State: KY - Valid
Row 209 - Zip: nan, State: nan - Invalid
Row 210 - Zip: nan, State: KY - Invalid
Row 211 - Zip: 40207, State: KY - Valid
Row 212 - Zip: 40207, State: KY - Valid
Row 213 - Zip: 40207, State: KY - Valid
Row 214 - Zip: nan, State: nan - Invalid
Row 215 - Zip: 40065, State: KY - Valid
Row 216 - Zip: nan, State: LA - Invalid
Row 217 - Zip: nan, State: LA - Invalid
Row 218 - Zip: 70401, State: LA - Valid
Row 219 - Zip: 70401, State: LA - Valid
Row 220 - Zip: 70401, State: LA - Valid
Row 221 - Zip: nan, State: LA - Invalid
Row 222 - Zip: nan, State: nan - Invalid
Row 223 - Zip: 3885, State: NH - Valid
Row 224 - Zip: 2882, State: RI - Valid
Row 225 - Zip: 4005, State: ME - Valid
Row 226 - Zip: 1742, State: MA - Valid
Row 227 - Zip: 2125, State: MA - Valid
Row 228 - Zip: 1237, State: MA - Valid
Row 229 - Zip: 5405, State: VT - Valid
Row 230 - Zip: 1742, State: MA - Valid
Row 231 - Zip: 2171, State: MA - Valid
Row 232 - Zip: 2881, State: RI - Valid
Row 233 - Zip: 3885, State: NH - Valid
Row 234 - Zip: 2575, State: MA - Valid
Row 235 - Zip: nan, State: nan - Invalid
Row 236 - Zip: nan, State: nan - Invalid
Row 237 - Zip: nan, State: nan - Invalid
Row 238 - Zip: nan, State: MA - Invalid
Row 239 - Zip: 5405, State: VT - Valid
Row 240 - Zip: 3885, State: NH - Valid
Row 241 - Zip: 2575, State: MA - Valid
Row 242 - Zip: 4005, State: ME - Valid
Row 243 - Zip: 5405, State: VT - Valid
Row 244 - Zip: 4609, State: ME - Valid
Row 245 - Zip: 4005, State: ME - Valid
Row 246 - Zip: 5403, State: VT - Valid
Row 247 - Zip: 1742, State: MA - Valid
Row 248 - Zip: 4005, State: ME - Valid
Row 249 - Zip: 4005, State: ME - Valid
Row 250 - Zip: 2125, State: MA - Valid
Row 251 - Zip: 4005, State: ME - Valid
Row 252 - Zip: 2125, State: MA - Valid
Row 253 - Zip: 5405, State: VT - Valid
Row 254 - Zip: 3885, State: NH - Valid
Row 255 - Zip: 2575, State: MA - Valid
Row 256 - Zip: 1742, State: MA - Valid
Row 257 - Zip: 2575, State: MA - Valid
Row 258 - Zip: 1237, State: MA - Valid
Row 259 - Zip: 2575, State: MA - Valid
Row 260 - Zip: 50403, State: VT - Invalid
Row 261 - Zip: 2171, State: MA - Valid
Row 262 - Zip: 3885, State: NH - Valid
Row 263 - Zip: 1742, State: MA - Valid
Row 264 - Zip: 2881, State: RI - Valid
Row 265 - Zip: 2125, State: MA - Valid
Row 266 - Zip: 2125, State: MA - Valid
Row 267 - Zip: 4609, State: ME - Valid
Row 268 - Zip: nan, State: RI - Invalid
Row 269 - Zip: 1237, State: MA - Valid
Row 270 - Zip: 21601, State: MD - Valid
Row 271 - Zip: 21601, State: MD - Valid
Row 272 - Zip: 21601, State: MD - Valid
Row 273 - Zip: 21601, State: MD - Valid
Row 274 - Zip: 21601, State: MD - Valid
Row 275 - Zip: nan, State: nan - Invalid
Row 276 - Zip: 21601, State: MD - Valid
Row 277 - Zip: 21601, State: MD - Valid
Row 278 - Zip: 21601, State: MD - Valid
Row 279 - Zip: nan, State: nan - Invalid
Row 280 - Zip: 21601, State: MD - Valid
Row 281 - Zip: nan, State: nan - Invalid
Row 282 - Zip: nan, State: nan - Invalid
Row 283 - Zip: nan, State: MI - Invalid
Row 284 - Zip: nan, State: nan - Invalid
Row 285 - Zip: nan, State: nan - Invalid
Row 286 - Zip: nan, State: nan - Invalid
Row 287 - Zip: nan, State: nan - Invalid
Row 288 - Zip: nan, State: MI - Invalid
Row 289 - Zip: nan, State: nan - Invalid
Row 290 - Zip: nan, State: MI - Invalid
Row 291 - Zip: 48116, State: MI - Valid
Row 292 - Zip: 49423, State: MI - Valid
Row 293 - Zip: 48734, State: MI - Valid
Row 294 - Zip: nan, State: MI - Invalid
Row 295 - Zip: 48451, State: MI - Valid
Row 296 - Zip: nan, State: MI - Invalid
Row 297 - Zip: nan, State: MI - Invalid
Row 298 - Zip: 48734, State: MI - Valid
Row 299 - Zip: 49423, State: MI - Valid
Row 300 - Zip: 48824, State: MI - Valid
Row 301 - Zip: 48116, State: MI - Valid
Row 302 - Zip: 48116, State: MI - Valid
Row 303 - Zip: 49423, State: MI - Valid
Row 304 - Zip: 48734, State: MI - Valid
Row 305 - Zip: nan, State: MI - Invalid
Row 306 - Zip: 49423, State: MI - Valid
Row 307 - Zip: 48734, State: MI - Valid
Row 308 - Zip: 48823, State: MI - Valid
Row 309 - Zip: 48116, State: MI - Valid
Row 310 - Zip: 48357, State: MI - Valid
Row 311 - Zip: nan, State: MN - Invalid
Row 312 - Zip: 58102, State: ND - Valid
Row 313 - Zip: 57105, State: SD - Valid
Row 314 - Zip: 55102, State: MN - Valid
Row 315 - Zip: 57103, State: SD - Valid
Row 316 - Zip: 55810, State: MN - Valid
Row 317 - Zip: 56308, State: MN - Valid
Row 318 - Zip: 56560, State: ND - Invalid
Row 319 - Zip: 55110, State: MN - Valid
Row 320 - Zip: 50015, State: IA - Invalid
Row 321 - Zip: 50011, State: IA - Valid
Row 322 - Zip: 57105, State: SD - Valid
Row 323 - Zip: nan, State: nan - Invalid
Row 324 - Zip: 50023, State: IA - Valid
Row 325 - Zip: 57101, State: SD - Valid
Row 326 - Zip: 55805, State: MN - Valid
Row 327 - Zip: nan, State: nan - Invalid
Row 328 - Zip: nan, State: nan - Invalid
Row 329 - Zip: 55810, State: MN - Valid
Row 330 - Zip: nan, State: nan - Invalid
Row 331 - Zip: 55102, State: MN - Valid
Row 332 - Zip: 55110, State: MN - Valid
Row 333 - Zip: nan, State: nan - Invalid
Row 334 - Zip: 55102, State: MN - Valid
Row 335 - Zip: 55811, State: MN - Valid
Row 336 - Zip: 55110, State: MN - Valid
Row 337 - Zip: 55810, State: MN - Valid
Row 338 - Zip: 57103, State: SD - Valid
Row 339 - Zip: 50023, State: IA - Valid
Row 340 - Zip: 50023, State: IA - Valid
Row 341 - Zip: 55415, State: MN - Valid
Row 342 - Zip: 55109, State: MN - Valid
Row 343 - Zip: 56374, State: MN - Valid
Row 344 - Zip: 58102, State: ND - Valid
Row 345 - Zip: 55415, State: MN - Valid
Row 346 - Zip: 65202, State: MO - Valid
Row 347 - Zip: nan, State: nan - Invalid
Row 348 - Zip: nan, State: nan - Invalid
Row 349 - Zip: 65202, State: MO - Valid
Row 350 - Zip: nan, State: MO - Invalid
Row 351 - Zip: 65202, State: MO - Valid
Row 352 - Zip: 62035, State: IL - Valid
Row 353 - Zip: 62035, State: IL - Valid
Row 354 - Zip: nan, State: nan - Invalid
Row 355 - Zip: 65202, State: MO - Valid
Row 356 - Zip: 65202, State: MO - Valid
Row 357 - Zip: 62035, State: IL - Valid
Row 358 - Zip: nan, State: MO - Invalid
Row 359 - Zip: 62035, State: IL - Valid
Row 360 - Zip: nan, State: nan - Invalid
Row 361 - Zip: nan, State: nan - Invalid
Row 362 - Zip: 27249, State: NC - Valid
Row 363 - Zip: nan, State: nan - Invalid
Row 364 - Zip: 27012, State: NC - Valid
Row 365 - Zip: 27012, State: NC - Valid
Row 366 - Zip: nan, State: NC - Invalid
Row 367 - Zip: nan, State: nan - Invalid
Row 368 - Zip: nan, State: NC - Invalid
Row 369 - Zip: nan, State: nan - Invalid
Row 370 - Zip: 27012, State: NC - Valid
Row 371 - Zip: 27012, State: NC - Valid
Row 372 - Zip: 28560, State: NC - Valid
Row 373 - Zip: 27012, State: NC - Valid
Row 374 - Zip: 28424, State: NC - Valid
Row 375 - Zip: 27012, State: NC - Valid
Row 376 - Zip: 29067, State: NC - Invalid
Row 377 - Zip: 28468, State: NC - Valid
Row 378 - Zip: 28560, State: NC - Valid
Row 379 - Zip: 28560, State: NC - Valid
Row 380 - Zip: nan, State: NC - Invalid
Row 381 - Zip: 28424, State: NC - Valid
Row 382 - Zip: 28560, State: NC - Valid
Row 383 - Zip: 27249, State: NC - Valid
Row 384 - Zip: 27012, State: NC - Valid
Row 385 - Zip: 7764, State: NJ - Valid
Row 386 - Zip: nan, State: NJ - Invalid
Row 387 - Zip: 7764, State: NJ - Valid
Row 388 - Zip: 7960, State: NJ - Valid
Row 389 - Zip: 8530, State: NJ - Valid
Row 390 - Zip: 7960, State: NJ - Valid
Row 391 - Zip: 7764, State: NJ - Valid
Row 392 - Zip: 7764, State: NJ - Valid
Row 393 - Zip: 7962, State: NJ - Valid
Row 394 - Zip: nan, State: nan - Invalid
Row 395 - Zip: nan, State: nan - Invalid
Row 396 - Zip: nan, State: nan - Invalid
Row 397 - Zip: nan, State: nan - Invalid
Row 398 - Zip: 7960, State: NJ - Valid
Row 399 - Zip: nan, State: NJ - Invalid
Row 400 - Zip: 7960, State: NJ - Valid
Row 401 - Zip: 7764, State: NJ - Valid
Row 402 - Zip: 8551, State: NJ - Valid
Row 403 - Zip: 7764, State: NJ - Valid
Row 404 - Zip: 7960, State: NJ - Valid
Row 405 - Zip: 87506, State: NM - Valid
Row 406 - Zip: 87506, State: NM - Valid
Row 407 - Zip: 87501, State: NM - Valid
Row 408 - Zip: 87506, State: NM - Valid
Row 409 - Zip: 87501, State: NM - Valid
Row 410 - Zip: 89106, State: NV - Valid
Row 411 - Zip: 89106, State: NV - Valid
Row 412 - Zip: 11968, State: NY - Valid
Row 413 - Zip: 11968, State: NY - Valid
Row 414 - Zip: 11714, State: NY - Valid
Row 415 - Zip: nan, State: nan - Invalid
Row 416 - Zip: 11968, State: NY - Valid
Row 417 - Zip: nan, State: nan - Invalid
Row 418 - Zip: nan, State: NY - Invalid
Row 419 - Zip: nan, State: nan - Invalid
Row 420 - Zip: 11714, State: NY - Valid
Row 421 - Zip: 11968, State: NY - Valid
Row 422 - Zip: 11735, State: NY - Valid
Row 423 - Zip: nan, State: nan - Invalid
Row 424 - Zip: 11714, State: NY - Valid
Row 425 - Zip: 11714, State: NY - Valid
Row 426 - Zip: 11735, State: NY - Valid
Row 427 - Zip: nan, State: nan - Invalid
Row 428 - Zip: 10019, State: NY - Valid
Row 429 - Zip: 10038, State: NY - Valid
Row 430 - Zip: 10019, State: NY - Valid
Row 431 - Zip: 10019, State: NY - Valid
Row 432 - Zip: 10019, State: NY - Valid
Row 433 - Zip: 10019, State: NY - Valid
Row 434 - Zip: 10019, State: NY - Valid
Row 435 - Zip: nan, State: nan - Invalid
Row 436 - Zip: nan, State: nan - Invalid
Row 437 - Zip: 14456, State: NY - Valid
Row 438 - Zip: 12186, State: NY - Valid
Row 439 - Zip: 14478, State: NY - Valid
Row 440 - Zip: 14081, State: NY - Valid
Row 441 - Zip: 14611, State: NY - Valid
Row 442 - Zip: 14478, State: NY - Valid
Row 443 - Zip: 14478, State: NY - Valid
Row 444 - Zip: 14623, State: NY - Valid
Row 445 - Zip: 12033, State: NY - Valid
Row 446 - Zip: nan, State: nan - Invalid
Row 447 - Zip: nan, State: nan - Invalid
Row 448 - Zip: nan, State: nan - Invalid
Row 449 - Zip: nan, State: NY - Invalid
Row 450 - Zip: nan, State: nan - Invalid
Row 451 - Zip: nan, State: nan - Invalid
Row 452 - Zip: 14081, State: NY - Valid
Row 453 - Zip: 14478, State: NY - Valid
Row 454 - Zip: 14081, State: NY - Valid
Row 455 - Zip: 14623, State: NY - Valid
Row 456 - Zip: 14059, State: NY - Valid
Row 457 - Zip: 12033, State: NY - Valid
Row 458 - Zip: 14623, State: NY - Valid
Row 459 - Zip: 12033, State: NY - Valid
Row 460 - Zip: 14127, State: NY - Valid
Row 461 - Zip: 12033, State: NY - Valid
Row 462 - Zip: 43054, State: OH - Valid
Row 463 - Zip: nan, State: nan - Invalid
Row 464 - Zip: 43017, State: OH - Valid
Row 465 - Zip: 44212, State: OH - Valid
Row 466 - Zip: 44212, State: OH - Valid
Row 467 - Zip: 43551, State: OH - Valid
Row 468 - Zip: 44212, State: OH - Valid
Row 469 - Zip: 44212, State: OH - Valid
Row 470 - Zip: 43551, State: OH - Valid
Row 471 - Zip: 43551, State: OH - Valid
Row 472 - Zip: nan, State: nan - Invalid
Row 473 - Zip: 43537, State: OH - Valid
Row 474 - Zip: 43052, State: OH - Invalid
Row 475 - Zip: 44212, State: OH - Valid
Row 476 - Zip: 43551, State: OH - Valid
Row 477 - Zip: 44212, State: OH - Valid
Row 478 - Zip: 43017, State: OH - Valid
Row 479 - Zip: nan, State: OH - Invalid
Row 480 - Zip: 43016, State: OH - Valid
Row 481 - Zip: 45054, State: OH - Valid
Row 482 - Zip: 45054, State: OH - Valid
Row 483 - Zip: nan, State: nan - Invalid
Row 484 - Zip: 45054, State: OH - Valid
Row 485 - Zip: nan, State: nan - Invalid
Row 486 - Zip: 45054, State: OH - Valid
Row 487 - Zip: 45202, State: OH - Valid
Row 488 - Zip: 45054, State: OH - Valid
Row 489 - Zip: 45431, State: OH - Valid
Row 490 - Zip: 45431, State: OH - Valid
Row 491 - Zip: 45056, State: OH - Valid
Row 492 - Zip: 45202, State: OH - Valid
Row 493 - Zip: 45056, State: OH - Valid
Row 494 - Zip: nan, State: nan - Invalid
Row 495 - Zip: nan, State: nan - Invalid
Row 496 - Zip: 43537, State: OH - Valid
Row 497 - Zip: 73071, State: OK - Valid
Row 498 - Zip: nan, State: nan - Invalid
Row 499 - Zip: nan, State: TX - Invalid
Row 500 - Zip: nan, State: nan - Invalid

In [66]:
# Remove invalid state

# Initialize the SearchEngine
search = SearchEngine()

# Validation function to check if the city is correct for the zip code
def is_valid_state(zip_code, state):
    zip_info = search.by_zipcode(zip_code)
    return zip_info and zip_info.state and zip_info.state.lower() == state.lower()

# Use numpy.where to replace invalid cities with NaN
events['State'] = np.where(events.apply(lambda row: is_valid_state(row['Zip Code'], row['State']), axis=1), events['State'], np.nan)

# Event Date

In [67]:
# Event Date
max_length_value = events['Event Date'].astype(str).apply(len).idxmax()
max_length = events['Event Date'].astype(str).apply(len).max()
value_with_max_length = events.at[max_length_value, 'Event Date']
value_with_max_length

'12/31/2016 23:39'

In [68]:
# convert to datetime
# 'errors='coerce'' will handle invalid date formats by converting them to NaT
events['Event Date'] = pd.to_datetime(events['Event Date'].str.split('(').str[0], errors='coerce')

In [69]:
events['Event Date']

0     2016-09-01 08:42:00
1     2016-03-19 14:39:00
2     2016-09-01 13:02:00
3     2016-12-31 23:39:00
4     2015-01-01 12:16:00
              ...
695   2013-08-03 14:24:00
696   2015-08-01 08:15:00
697   2016-08-06 09:27:00
698   2016-08-06 09:47:00
699   2016-08-06 10:28:00
Name: Event Date, Length: 700, dtype: datetime64[ns]

# Event Goal

In [70]:
# Event Goal
# Define a custom function to convert to float
def convert_to_float(value):
    if value is not None:
        return float(value)
    return None

# Apply the custom function to 'Gift Amount($)' column
events['Event Goal($)'] = events['Event Goal($)'].apply(convert_to_float)
events['Event Goal($)']

0           0.00
1      500000.00
2           0.00
3           0.00
4       10000.00
         ...
695   1500000.00
696   1500000.00
697   1500000.00
698   1500000.00
699   1500000.00
Name: Event Goal($), Length: 700, dtype: float64

# Event ID

In [71]:
num_nulls = events['Event ID'].isnull().sum()
num_nulls

0

In [72]:
events['Event ID']

0      27155
1      27154
2      26886
3      27089
4      26357
       ...
695    20385
696    24446
697    26766
698    27038
699    27039
Name: Event ID, Length: 700, dtype: int64

# Drop unnecessary columns

In [73]:
columns_to_keep = ['City', 'State', 'Event Date', 'Event ID', 'Event Goal($)']

events = events[columns_to_keep]
events.columns

Index(['City', 'State', 'Event Date', 'Event ID', 'Event Goal($)'], dtype='object')

# Change column names

In [74]:
events.rename(
    columns={"City": "e_city", "State": "e_state", "Event Date": "e_date","Event ID":"eventID","Event Goal($)":"e_goal_amt"},
    inplace=True,
)

events.columns

Index(['e_city', 'e_state', 'e_date', 'eventID', 'e_goal_amt'], dtype='object')

In [75]:
print(events.dtypes)

e_city                object
e_state               object
e_date        datetime64[ns]
eventID                int64
e_goal_amt           float64
dtype: object

# Tables

In [76]:
# participant
event = events[['eventID','e_city','e_state','e_date','e_goal_amt']].copy()
# Remove duplicates
event_cleaned = events.drop_duplicates(subset=['eventID'])

event_cleaned.to_csv('C:/Users/SANTIAGO/OneDrive - Nova Scotia Community College/4 Winter Semester 2024/DBAS 3018 Data Movement and Integration/Assignment 2/Datasets/Table/event.csv', index=False)