# Libraries

In [1]:
import pandas as pd
import numpy as np
import csv
import datetime
import pytz
import hashlib
import psycopg2
from psycopg2.extras import execute_batch
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [2]:
# Set display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
#Load csv
fraud = r'C:\Users\SANTIAGO\OneDrive - Nova Scotia Community College\4 Winter Semester 2024\DBAS 3035 Information Systems Design\Project\Dataset\Original\fraud.csv'
fraud_df = pd.read_csv(fraud, index_col = False)
fraud_df.drop(columns=['Unnamed: 0'], inplace=True)
fraud_df.head(3)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,21/06/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,19/03/1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,21/06/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",17/01/1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,21/06/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",21/10/1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0

### Data Dictionary

In [4]:
dictionary = []

# total rows
total_rows = len(fraud_df)

for col in fraud_df.columns:
    data_type = fraud_df[col].dtype
    max_length = None
    min_length = None
    if pd.api.types.is_string_dtype(fraud_df[col]):
        max_length = fraud_df[col].str.len().max()
        min_length = fraud_df[col].str.len().min()
    
    max_length_format = '{:,.0f}'.format(max_length) if max_length is not None else None
    min_length_format = '{:,.0f}'.format(min_length) if min_length is not None else None
    
    
    num_nulls = fraud_df[col].isnull().sum()
    num_nulls_format = '{:,}'.format(num_nulls)
    percentage_null = (num_nulls/total_rows) * 100
    percentage_null_format = '{:,.2f}%'.format(percentage_null)
    num_distinct = fraud_df[col].nunique()
    num_distinct_format = '{:,}'.format(num_distinct)
    
    # Initialize min and max values
    min_value = None
    max_value = None
    
    # Check if column is numeric
    if np.issubdtype(data_type, np.number):
        min_value = fraud_df[col].min()
        max_value = fraud_df[col].max()
        
    # Calculate average for numeric columns
    average = fraud_df[col].mean() if np.issubdtype(data_type, np.number) else None
    average_format = '{:,.2f}'.format(average) if average is not None else None
        
    #Sample values
    sample_values = fraud_df[col].dropna().sample(5).tolist()
    
    #Append all info to dictionary list
    dictionary.append([col, data_type, max_length_format, min_length_format,num_nulls_format, percentage_null_format, num_distinct_format, min_value, max_value, average_format, sample_values])
    
# Create a df for the dictionary
dictionary_df = pd.DataFrame(dictionary, columns=['Column', 'Data_Type', 'Max_Character_Length', 'Min_Character_Length','Null_Value_Count', 'Null_Percentage','Distinct_Value_Count', 'Min_Value', 'Max_Value','Average','Sample_Values'])

# So that Sample_Values are not truncated
pd.set_option('display.max_colwidth', 1000)

dictionary_df

,Column,Data_Type,Max_Character_Length,Min_Character_Length,Null_Value_Count,Null_Percentage,Distinct_Value_Count,Min_Value,Max_Value,Average,Sample_Values
0,trans_date_trans_time,object,16,16,0,0.00%,"226,976",NaN,NaN,None,"[28/11/2020 12:32, 24/07/2020 20:58, 01/09/2020 09:08, 24/12/2020 17:29, 28/09/2020 22:47]"
1,cc_num,float64,None,None,0,0.00%,904,6.041621e+10,4.992350e+18,"417,838,748,319,872,960.00","[3587040000000000.0, 2720430000000000.0, 6011400000000000.0, 213174000000000.0, 376657000000000.0]"
2,merchant,object,43,13,0,0.00%,693,NaN,NaN,None,"[fraud_Fadel-Hilpert, fraud_Bernier, Volkman and Hoeger, fraud_Eichmann, Hayes and Treutel, fraud_Fadel-Hilpert, fraud_McDermott-Rice]"
3,category,object,14,4,0,0.00%,14,NaN,NaN,None,"[food_dining, entertainment, grocery_net, personal_care, food_dining]"
4,amt,float64,None,None,0,0.00%,"37,256",1.000000e+00,2.276811e+04,69.39,"[34.5, 27.94, 9.32, 45.91, 40.46]"
5,first,object,11,3,0,0.00%,341,NaN,NaN,None,"[Amber, Dalton, Gina, Christopher, Meredith]"
6,last,object,11,2,0,0.00%,471,NaN,NaN,None,"[Singh, Tucker, Fisher, Vaughan, Waters]"
7,gender,object,1,1,0,0.00%,2,NaN,NaN,None,"[F, M, F, M, F]"
8,street,object,35,12,0,0.00%,924,NaN,NaN,None,"[269 Sanchez Rapids, 597 Jenny Ford Apt. 543, 3433 Jones Branch, 034 Kimberly Mountains, 74890 Rodriguez Springs Apt. 540]"
9,city,object,25,3,0,0.00%,849,NaN,NaN,None,"[Brooklin, Wilmington, Lakeland, South Londonderry, Issaquah]"
10,state,object,2,2,0,0.00%,50,NaN,NaN,None,"[MI, IL, OR, VA, MD]"
11,zip,int64,None,None,0,0.00%,912,1.257000e+03,9.992100e+04,"48,842.63","[84325, 34112, 94569, 32780, 39113]"
12,lat,float64,None,None,0,0.00%,910,2.002710e+01,6.568990e+01,38.54,"[35.2087, 39.2048, 36.0244, 44.0577, 43.0172]"
13,long,float64,None,None,0,0.00%,910,-1.656723e+02,-6.795030e+01,-90.23,"[-88.0572, -85.7476, -82.1364, -106.0654, -86.5246]"
14,city_pop,int64,None,None,0,0.00%,835,2.300000e+01,2.906700e+06,"88,221.89","[140, 35371, 2661, 489, 372]"
15,job,object,59,3,0,0.00%,478,NaN,NaN,None,"[Museum/gallery conservator, Curator, Toxicologist, Pension scheme manager, Intelligence analyst]"
16,dob,object,10,10,0,0.00%,910,NaN,NaN,None,"[08/08/1966, 20/01/1955, 05/04/1962, 04/10/1972, 26/02/1976]"
17,trans_num,object,32,32,0,0.00%,"555,719",NaN,NaN,None,"[0747a5c24a64d7884e0c1e9fd5dbefcd, f18cded3d998a1458ff2bfdd948bd67a, cb44281d493517cf6327a2c2f649315f, 8c603ded875be62566170ea45db9e1b8, 1c775fb617856e2c7abdfeef58e5e201]"
18,unix_time,int64,None,None,0,0.00%,"544,760",1.371817e+09,1.388534e+09,"1,380,678,865.17","[1377674184, 1375162837, 1384116364, 1381182650, 1387957941]"
19,merch_lat,float64,None,None,0,0.00%,"546,490",1.902742e+01,6.667930e+01,38.54,"[33.001912, 38.330742, 38.695123, 30.793331, 36.041541]"
20,merch_long,float64,None,None,0,0.00%,"551,770",-1.666716e+02,-6.695203e+01,-90.23,"[-89.376696, -80.999237, -94.818348, -112.628663, -74.538731]"
21,is_fraud,int64,None,None,0,0.00%,2,0.000000e+00,1.000000e+00,0.00,"[0, 0, 0, 0, 0]"

### Converting dtypes

In [5]:
fraud_df.dtypes

trans_date_trans_time     object
cc_num                   float64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [6]:
fraud_df['cc_num'] = fraud_df['cc_num'].astype(np.int64)

In [8]:
fraud_df['trans_date_trans_time'] = pd.to_datetime(fraud_df['trans_date_trans_time'], format='%d/%m/%Y %H:%M')

In [9]:
fraud_df['dob'] = pd.to_datetime(fraud_df['dob'],format='%d/%m/%Y')

In [10]:
fraud_df['is_fraud'] = fraud_df['is_fraud'].astype(bool)

In [11]:
fraud_df['dob'] = pd.to_datetime(fraud_df['dob']).dt.date

### Data Cleansing

In [12]:
fraud_df['merchant'] = fraud_df['merchant'].str.replace('fraud_','')

In [13]:
fraud_df['category'] = fraud_df['category'].str.replace('_',' ')

In [14]:
fraud_df.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:00,2291160000000000,Kirlin and Sons,personal care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,2013-06-21 12:14:25,33.986391,-81.200714,False
1,2020-06-21 12:14:00,3573030000000000,Sporer-Keebler,personal care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,2013-06-21 12:14:33,39.450498,-109.960431,False
2,2020-06-21 12:14:00,3598220000000000,"Swaniawski, Nitzsche and Welch",health fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,2013-06-21 12:14:53,40.495810,-74.196111,False
3,2020-06-21 12:15:00,3591920000000000,Haley Group,misc pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,2013-06-21 12:15:15,28.812398,-80.883061,False
4,2020-06-21 12:15:00,3526830000000000,Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,2013-06-21 12:15:17,44.959148,-85.884734,False

### cc_num

In [15]:
customer = fraud_df.groupby(['cc_num','first','last']).size().reset_index(name='count')
cust_sort = customer.sort_values(by='cc_num')
x = cust_sort[cust_sort['cc_num'] == 213161000000000]
x

#can't use cc_num as customerID, have to create customerID

              cc_num      first    last  count
274  213161000000000     Alyssa  Morgan    654
275  213161000000000  Catherine   Weber    723

In [16]:
file = r'C:\Users\SANTIAGO\OneDrive - Nova Scotia Community College\4 Winter Semester 2024\DBAS 3035 Information Systems Design\Project\Dataset\Original\customer.csv'
customer.to_csv(file, index=False)

In [17]:
customer = fraud_df.groupby(['cc_num','first','last']).size().reset_index(name='count')
cust_sort = customer.sort_values(by='cc_num')
x = cust_sort[(cust_sort['first'] == 'Jeffrey') & (cust_sort['last'] == 'Smith')]
x

                  cc_num    first   last  count
485     3534330000000000  Jeffrey  Smith    842
862  4292900000000000000  Jeffrey  Smith    684

In [18]:
customers = fraud_df[['cc_num','dob','first','last']].drop_duplicates()
customers

                     cc_num         dob        first         last
0          2291160000000000  1968-03-19         Jeff      Elliott
1          3573030000000000  1990-01-17       Joanne     Williams
2          3598220000000000  1970-10-21       Ashley        Lopez
3          3591920000000000  1987-07-25        Brian     Williams
4          3526830000000000  1955-07-06       Nathan       Massey
5            30407700000000  1991-10-13     Danielle        Evans
6           213181000000000  1951-01-15        Kayla       Sutton
7          3589290000000000  1972-03-05        Paula      Estrada
8          3596360000000000  1973-05-27        David      Everett
9          3546900000000000  1956-05-30        Kayla       Obrien
10         2242540000000000  1996-04-10       Samuel      Jenkins
11             571465000000  1976-02-26        Louis       Fisher
12         6593250000000000  1977-01-04      Melissa         Meza
13            4988300000000  1937-03-17      William     Thompson
14         6011500000000000  1971-11-02       Ashley      Whitney
15         4570640000000000  1988-04-09    Christine      Leblanc
16      4906630000000000000  1987-02-13      Charles       Moreno
17         4908850000000000  1992-07-24       Lauren       Torres
18      4861310000000000000  1977-12-16       Ashley         Cruz
19         6538440000000000  1997-09-22         Gina       Grimes
20         2283740000000000  1997-12-27      Shannon     Williams
21      4560000000000000000  1992-05-09        Stacy     Villegas
22            4562830000000  1971-11-26  Christopher      Johnson
23          213153000000000  1997-11-23      Rebecca       Conley
24          372509000000000  1985-06-18      Kristen       Hanson
25         6011150000000000  1991-10-04        Terri       Bailey
26         6011920000000000  1957-08-30      William      Johnson
27         3577660000000000  1968-10-06         Cody       Hooper
28         3502380000000000  1948-11-30     Kathleen       Martin
29          180040000000000  1957-12-29         Mary      Schmidt
30          379897000000000  1930-02-28        Frank          Key
31          180048000000000  1974-07-19         Mary         Wall
32         4302480000000000  1964-08-08       Daniel         Cain
33          180036000000000  1974-11-20    Mackenzie      Salazar
34          180065000000000  1964-02-15      Krystal       Gamble
35         6517220000000000  1958-06-11        James        Reese
36         4683520000000000  1995-04-19      Charles     Carrillo
37             501899000000  1970-01-08      Jessica    Dominguez
38         6011350000000000  1980-07-12       Samuel     Johnston
39          213196000000000  1969-07-24      Zachary        Allen
40         2712210000000000  1977-02-22        Jenna       Brooks
41             503874000000  1975-12-28       Andrew        Mcgee
42             676369000000  1974-12-28        David        Wolfe
43            4783230000000  1961-04-22      Jessica       Garcia
44          375849000000000  1943-12-15         Dale        Smith
45           30270400000000  1972-11-28         Lisa          Lin
46         6011150000000000  1979-12-11      Jeffrey        White
47      4110270000000000000  1986-11-06       Sandra     Schwartz
48             675990000000  1994-03-13       Amanda      Spencer
49          377027000000000  1974-10-27       Jackie        Davis
50         6011930000000000  1974-11-02       Joshua        Cohen
51         3519610000000000  1929-05-06       Audrey     Gonzalez
53         6011650000000000  1988-10-26      Kathryn        Smith
54         4116550000000000  1934-03-19      Bridget        Bowen
55      4855490000000000000  1993-09-29       Jeremy     Roberson
56      4599740000000000000  1964-12-30         Mary        Myers
57             561943000000  1986-03-14      Melissa        Brown
58         2227670000000000  1979-10-22        Angie        Jones
59         2296010000000000  1999-09-01         Judy        Hogan
60           36722700000000  1987-10-28      Jessica        Perez
61          213157000000000  1982-07-30         Adam       Santos
62         3567700000000000  1998-07-29         John      Stevens
64          213158000000000  1984-08-01         Tara     Campbell
65         4509920000000000  1972-03-28       Monica         West
66           30044300000000  1985-08-29      Allison        Ayala
68      4710830000000000000  1964-01-04         Juan        Henry
69         4653880000000000  1999-06-06       Monica       Tucker
70      4956830000000000000  1980-12-21      Kenneth     Robinson
71         3590740000000000  1975-12-20     Kimberly     Gonzalez
72            4755700000000  1985-06-20       Robert        Evans
73         3542160000000000  1968-01-28      Bradley     Anderson
74           30235000000000  1978-01-22      Matthew      Lambert
75          180043000000000  1989-02-28      Charles       Robles
76         4149240000000000  1989-04-08       Tanner      Carroll
77         3583790000000000  1970-09-27         Beth      Lambert
78         3575790000000000  1989-07-17      Lindsay       Wilson
79         3553630000000000  1984-09-01       Sharon      Johnson
80          375248000000000  1967-09-16       Joshua      Mendoza
81            4427810000000  2000-08-16     Michelle    Rodriguez
82          371985000000000  1949-06-09     Benjamin       Martin
84             676276000000  1986-01-18       Edward      Hensley
85         4173950000000000  1978-10-05      Stephen     Marshall
86         6011200000000000  1986-04-03      Vincent         Ward
87      4223710000000000000  1974-05-30         Adam       Riddle
88             675962000000  1967-08-24  Christopher     Cummings
89             630426000000  1970-03-14        Bryan       Miller
90         4708990000000000  1938-09-08        Jared      Walters
92          377234000000000  1966-02-14      Theresa    Blackwell
93         4294040000000000  1986-12-31         Gail       Weaver
94          180018000000000  1988-03-21     Michelle        Woods
95         6011440000000000  1993-04-08      Allison        Allen
96         5501080000000000  1966-01-04        Wayne        Payne
97         6011100000000000  1985-09-02      Valerie        Davis
98          374930000000000  1971-11-05       Daniel      Escobar
99            4500000000000  1965-04-07       Joseph        Nixon
100        6592070000000000  1972-05-23       Amanda       Molina
101     4400010000000000000  1980-09-15      Marissa       Powell
102          30570200000000  1945-12-07      Vincent         Cain
104           4561550000000  1988-08-04       Daniel       Briggs
105        4119760000000000  1945-08-19      Melinda    Gutierrez
106     4810840000000000000  1985-08-31      Carolyn        Perez
107        4191110000000000  1992-10-03     Jennifer      Spencer
108            676195000000  1983-07-24       Brandy        Quinn
109     4128730000000000000  1949-10-04      Monique       Martin
110           4681700000000  1978-03-06       Joseph     Gonzalez
111        3523840000000000  1970-11-20        Grace     Williams
112     4587660000000000000  2004-05-08        Amber        Lewis
113        6011860000000000  1952-07-06         Lisa       Mendez
114        3576430000000000  1981-10-24      Jessica         Ward
115          30199600000000  1977-03-23      Theresa       Powell
116        3540020000000000  1983-01-21     Lawrence        Frost
117         213162000000000  1970-04-17       Monica         Lane
118          36913600000000  1971-02-11          Ana    Mccormick
119        2720430000000000  1997-08-22         Mark         Wood
120     4584930000000000000  1975-04-16       Amanda        Gomez
121     4537000000000000000  1972-07-18       Nathan      Mendoza
122        3518230000000000  1970-09-11      Barbara         Lowe
123        3546670000000000  1984-07-05       Jordan          May
124        3533180000000000  1951-11-08        Derek      Bentley
125           4900630000000  1973-09-22      Michael      Johnson
126          38947700000000  1979-06-24         Lori    Rodriguez
127        3547560000000000  1966-12-21        Jerry     Robinson
128         378279000000000  1964-04-06         Mary     Mcintyre
129        3513620000000000  1955-06-26        Amber        Perez
131            630485000000  1973-02-07          Ian       Patton
132         376445000000000  1982-02-11       Rachel         Lowe
133           4683640000000  1972-07-01       Daniel         Boyd
134     4503100000000000000  1979-07-03    Katherine       Tucker
135           4260000000000  1968-11-22        Julie      Johnson
136            630425000000  1981-08-29     Jennifer        Black
137         348790000000000  1950-08-19        Megan       Murphy
138        3587960000000000  1997-01-02        Kathy       Hughes
140           4260130000000  1997-08-04      Whitney    Gallagher
141           4189810000000  1998-02-03        Jason       Farmer
142         371009000000000  2003-09-14      Randall      Burgess
144        5456780000000000  1954-05-25       Taylor         Khan
145        3556610000000000  1999-12-27         Jose      Vasquez
149           4990490000000  1960-12-13       Martin         Ford
150        3518670000000000  1996-11-12      Dorothy       Thomas
152            639024000000  1991-06-05      Destiny         Lowe
153        3517810000000000  1941-10-16      William       Cannon
154        3567530000000000  1962-03-19       Amanda        Vance
155        5580560000000000  1990-06-21      Stanley      Dickson
156        4302480000000000  1995-05-25        David    Rodriguez
157             60416207185  1986-02-17         Mary         Diaz
158     4044440000000000000  1970-11-09          Amy       Abbott
161         180094000000000  1972-09-22       Sharon        Smith
163        4671730000000000  1955-07-25      Kenneth      Edwards
165        3582400000000000  1957-06-12      Michele      Patrick
166        4099710000000000  1975-07-07        James     Stephens
167        6011110000000000  1983-02-08      Rebecca     Erickson
168        4482430000000000  1946-08-30       Leslie         Ford
169          30518200000000  1975-06-02        Karen     Sullivan
171     4736850000000000000  1953-05-23         Toni        Gomez
174        2358120000000000  1924-10-30         Mike         Tran
175        2285070000000000  1988-02-15      Richard        Brown
178         370349000000000  1951-09-03  Christopher        Gomez
180     4301030000000000000  1978-10-26          Joe       Howard
181     4063090000000000000  1963-06-13     Patricia      Mendoza
183         345060000000000  1960-04-03        Brian        Perez
184        6011890000000000  1975-07-31         Erin       Chavez
185          30118400000000  1993-04-29        Jared    Velazquez
186        4492490000000000  1986-10-17     Jonathan         Byrd
187         377114000000000  1965-03-25        Billy    Gallagher
188         343473000000000  1971-08-05       Gloria      Wallace
189        3540210000000000  1992-06-19       Steven        Yoder
190         343746000000000  1975-10-11      Jeffrey        Munoz
192        3575540000000000  2001-06-22       Rachel   Villarreal
193          30176000000000  1966-06-07      Rebecca       Butler
194         180059000000000  2000-08-28      Richard       Barnes
195        4904680000000000  1990-10-19         Lisa         Lowe
196        2264940000000000  1995-10-17         Juan      Sherman
197         180073000000000  1953-12-08         Cody       Miller
198        2286240000000000  1950-05-27       Morgan       Murray
199           4220350000000  1960-01-20      Patrick       Torres
201           4640400000000  1951-06-13      Melissa       Krause
202        3586010000000000  1984-02-29      Crystal       Fuller
203        3533740000000000  1997-06-04       Robert       Haynes
206        4378990000000000  1999-10-25       Travis        Hayes
207        6554250000000000  1969-12-22      Monique     Robinson
208        3557440000000000  2004-06-19       Angela      Edwards
210            577589000000  1997-10-23        James   Strickland
211        3566880000000000  1991-01-31         Adam     Mcdonald
212        3565200000000000  1950-09-15      Adriana       Harvey
213        2305340000000000  1961-02-14      Jeffrey         Rice
216        3596220000000000  1988-03-25         Sara      Ramirez
217        3512370000000000  1985-03-31    Francisco         Kemp
218        3511060000000000  1960-01-06       Briana       Santos
219        3564840000000000  1959-03-31       Robert       Ashley
220        4451440000000000  1999-09-11       Cheryl       Morgan
222     4855850000000000000  1954-06-30       Justin      Aguilar
223          30026800000000  1979-09-03         John       Peters
224        3500970000000000  1999-05-31      Kenneth      Sanchez
225        3528410000000000  1987-02-14     Patricia        Leach
226        4003990000000000  1989-02-08        Chris        White
227        4837000000000000  1979-04-12        Susan        Hardy
229          30029100000000  1970-10-09       Curtis        Young
230        3501940000000000  1999-11-30         Lori       Bishop
231        6011370000000000  1988-09-15        Tammy        Ayers
232         372382000000000  1966-01-21        Brent      Terrell
233         343669000000000  1949-11-16        Sally        Moore
234        4634960000000000  1973-12-26    Mackenzie        Smith
235         213174000000000  1969-01-14        James       Bishop
236        4998110000000000  1987-11-18         Mary       Pruitt
237        4599290000000000  1997-11-18         Mary     Williams
239        4822370000000000  1991-01-01  Christopher      Farrell
240        4509140000000000  1926-07-12     Margaret     Williams
242          30551600000000  1973-11-14       Morgan        Smith
243        4952580000000000  1957-04-05     Patricia    Rodriguez
244          30235300000000  1977-08-16      Kenneth        Doyle
245           4476840000000  1979-01-21       Steven      Walters
247            676299000000  1971-12-10      Jessica       Werner
248         373905000000000  1970-11-12        Sarah       Bishop
249          30273000000000  2000-06-13       Andrew    Patterson
251           4601640000000  1990-12-18         Mark       Rivera
254        3520550000000000  2001-07-05      Micheal      Walters
255     4390970000000000000  1966-06-24         Kyle      Simmons
256         376657000000000  1985-12-03      Richard        Vance
257        2229380000000000  1984-11-06       Thomas         Hale
259        6011980000000000  1943-05-28        Haley       Wagner
260        3589260000000000  1984-02-14        David       Miller
263          30501600000000  1973-05-04       Amanda        Smith
265        4716560000000000  1972-05-04       Lauren     Anderson
266          38588500000000  1990-11-23   Jacqueline        Curry
268     4220500000000000000  1966-05-22      Bethany      Andrade
269        4010000000000000  1983-08-24     Jennifer       Bishop
270        4129770000000000  1972-06-14       Cheryl      Ballard
271            567868000000  1984-12-16         Dawn       Tucker
272        3576020000000000  2004-12-30         Dawn         Gray
273         376944000000000  1957-12-26      Tiffany     Stephens
274            580954000000  1960-01-13      Jessica      Benitez
276            676373000000  1987-07-18        Vicki      Mendoza
277        3568260000000000  1994-11-24      Timothy        Gomez
278        6011690000000000  1995-12-04     Victoria      Fleming
279         180031000000000  1972-01-05        Becky     Mckinney
281        4873780000000000  1974-03-10    Elizabeth      Maxwell
284           4623560000000  1954-07-15      Vincent       Waller
286          30446000000000  1993-05-27      Felicia       Thomas
289        3561210000000000  1977-01-04         Jose     Campbell
290        4767270000000000  1961-06-19     Jennifer       Conner
291         378006000000000  1982-01-07  Christopher     Matthews
293        3513510000000000  1966-05-29        Sarah        Adams
295            639046000000  1986-06-20        Dylan      Bonilla
296     4469780000000000000  1980-11-22      Gregory       Graham
297          30267000000000  1976-11-21        Sarah       Foster
299        3529600000000000  1985-09-01      Melissa    Rodriguez
300          38052000000000  1995-09-11         Anna        Logan
301     4355790000000000000  1969-08-04       Tanner        Davis
303        4229730000000000  1990-05-03        Tyler        Mills
304           4103160000000  1982-06-27  Christopher       Adkins
305        4170690000000000  1993-05-10       Samuel         Frey
309         348254000000000  1948-03-22       Thomas       Gibson
313            676174000000  1961-04-25     Brittany          Cox
314           4957920000000  1955-12-04         Alan      Parsons
315        5359540000000000  1975-06-29      Michael      Francis
316        4348790000000000  1979-01-08         John      Nichols
317        2713910000000000  1964-02-13   Jacqueline       Howard
320        4951650000000000  1976-06-15     Kimberly       Miller
322            630423000000  1978-06-21    Stephanie         Gill
324          38057500000000  1997-01-18      Marissa        Clark
325           4746000000000  1998-10-07       Carrie   Washington
326        6011250000000000  2001-12-19       Melvin       Wright
329        4178100000000000  1981-03-29         Jill       Flores
330        6011540000000000  1972-08-09        Emily         Hall
332        3597930000000000  1993-03-23      Derrick       Flores
333          30343300000000  1962-03-20        Jacob       Dawson
334           4538570000000  1967-05-28        Jerry        Kelly
335        3551220000000000  1976-10-09         Sara       Harris
337     4646850000000000000  1990-06-25        Julia         Bell
338     4512830000000000000  1983-07-25       Monica        Cohen
339        3531130000000000  1975-07-13       Shelby     Mitchell
340           4239440000000  1991-10-04        James         Leon
342        6011380000000000  1973-07-13      Kristen        Allen
344        5104810000000000  1978-07-08       Regina     Johnston
346        5152050000000000  1972-09-12          Jim      Johnson
347        6011400000000000  1973-10-14        Maria          Roy
349     4769430000000000000  1954-08-22       Andrea         Cruz
354          30442400000000  1981-06-22        Linda      Sanchez
355         213148000000000  1978-11-30         Jill       Jacobs
359        3540080000000000  1987-01-27    Christian        Johns
360        3551510000000000  1947-07-15        Erika     Anderson
362         372520000000000  2000-02-20         Lori      Ramirez
363        3559680000000000  1991-03-29       Olivia   Stephenson
364        4342530000000000  1994-02-16        Kevin      Elliott
366        2266740000000000  1972-07-25       Carlos        Chung
367        3534090000000000  1967-01-12       Jeremy        White
368         213161000000000  1963-02-09       Alyssa       Morgan
369        2720830000000000  1974-03-28      Melissa      Aguilar
370     4292740000000000000  1973-06-09      Michael     Williams
372        6011330000000000  1971-09-01       Lauren       Butler
375     4890420000000000000  1979-04-30       Jeremy      Whitney
378        3545110000000000  1999-03-05        Keith      Sanders
379         374498000000000  1948-06-30        Linda        Hurst
382            639030000000  1982-08-01      Stephen        Lopez
384            568279000000  1991-05-01      Micheal    Hernandez
385            581686000000  1973-07-28        Larry        House
386         180085000000000  1985-12-08        Holly         Mann
387            630442000000  1965-07-26        Susan   Washington
388          30082000000000  1934-06-23     Kathleen     Thompson
389         213179000000000  1993-09-11         Alan        Colon
390             60487002085  1972-08-15        David        White
392     4102000000000000000  1987-06-13      William   Fitzgerald

In [19]:
x = customers[customers.duplicated(['first','last'], keep = False)]
y = x.sort_values(by='first')
y

                    cc_num         dob     first     last
488       3534330000000000  1978-01-15   Jeffrey    Smith
583    4292900000000000000  1995-08-16   Jeffrey    Smith
590       2248350000000000  1960-08-05  Jennifer    Scott
12214     6526960000000000  1950-12-14  Jennifer    Scott
316       4348790000000000  1979-01-08      John  Nichols
2216        30357400000000  1967-09-30      John  Nichols
423       4710790000000000  1986-12-13    Justin     Bell
1011      4158950000000000  1973-10-19    Justin     Bell
729       4433090000000000  1936-03-28     Linda    Davis
1641      4452370000000000  1978-03-04     Linda    Davis
1252        30371000000000  1961-01-31    Robert    James
3522       347613000000000  1995-12-28    Robert    James
407       3502090000000000  1976-09-08     Scott   Martin
962       4334230000000000  1967-08-02     Scott   Martin

In [20]:
count = len(customers)
count

924

In [21]:
#generate customerID based on the combination of cc_num, dob, first, last columns. Hashlib.sha256() will be used to generate an 8-digit customerID number

#Concatenate columns
fraud_df['combination'] = fraud_df['dob'].astype(str) + fraud_df['first'] + fraud_df['last'] + fraud_df['cc_num'].astype(str)

#generate customerID based on concatenated values using hash
fraud_df['customerID'] = fraud_df['combination'].apply(lambda x: int(hashlib.sha256(x.encode()).hexdigest(), 16) % 10**8)

fraud_df.drop(columns=['combination'], inplace=True)

fraud_df.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,customerID
0,2020-06-21 12:14:00,2291160000000000,Kirlin and Sons,personal care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,2013-06-21 12:14:25,33.986391,-81.200714,False,74078269
1,2020-06-21 12:14:00,3573030000000000,Sporer-Keebler,personal care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,2013-06-21 12:14:33,39.450498,-109.960431,False,18702918
2,2020-06-21 12:14:00,3598220000000000,"Swaniawski, Nitzsche and Welch",health fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,2013-06-21 12:14:53,40.495810,-74.196111,False,95127892
3,2020-06-21 12:15:00,3591920000000000,Haley Group,misc pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,2013-06-21 12:15:15,28.812398,-80.883061,False,59734903
4,2020-06-21 12:15:00,3526830000000000,Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,2013-06-21 12:15:17,44.959148,-85.884734,False,81017923

In [22]:
#Checking if customerID was generated properly
customerID = fraud_df[['cc_num','dob','first','last','customerID']].drop_duplicates()
customerID

                     cc_num         dob        first         last  customerID
0          2291160000000000  1968-03-19         Jeff      Elliott    74078269
1          3573030000000000  1990-01-17       Joanne     Williams    18702918
2          3598220000000000  1970-10-21       Ashley        Lopez    95127892
3          3591920000000000  1987-07-25        Brian     Williams    59734903
4          3526830000000000  1955-07-06       Nathan       Massey    81017923
5            30407700000000  1991-10-13     Danielle        Evans    94593647
6           213181000000000  1951-01-15        Kayla       Sutton    59629408
7          3589290000000000  1972-03-05        Paula      Estrada     6865772
8          3596360000000000  1973-05-27        David      Everett    26474803
9          3546900000000000  1956-05-30        Kayla       Obrien    74916531
10         2242540000000000  1996-04-10       Samuel      Jenkins     2279629
11             571465000000  1976-02-26        Louis       Fisher    36650981
12         6593250000000000  1977-01-04      Melissa         Meza    52634451
13            4988300000000  1937-03-17      William     Thompson    81732854
14         6011500000000000  1971-11-02       Ashley      Whitney    92283395
15         4570640000000000  1988-04-09    Christine      Leblanc    42641192
16      4906630000000000000  1987-02-13      Charles       Moreno    64205592
17         4908850000000000  1992-07-24       Lauren       Torres    99783749
18      4861310000000000000  1977-12-16       Ashley         Cruz    87478751
19         6538440000000000  1997-09-22         Gina       Grimes    90980181
20         2283740000000000  1997-12-27      Shannon     Williams    71553823
21      4560000000000000000  1992-05-09        Stacy     Villegas    95423571
22            4562830000000  1971-11-26  Christopher      Johnson    41670301
23          213153000000000  1997-11-23      Rebecca       Conley    27850541
24          372509000000000  1985-06-18      Kristen       Hanson    64428250
25         6011150000000000  1991-10-04        Terri       Bailey    19654894
26         6011920000000000  1957-08-30      William      Johnson    68164483
27         3577660000000000  1968-10-06         Cody       Hooper    53192260
28         3502380000000000  1948-11-30     Kathleen       Martin    13939171
29          180040000000000  1957-12-29         Mary      Schmidt    83749837
30          379897000000000  1930-02-28        Frank          Key    63701745
31          180048000000000  1974-07-19         Mary         Wall    94194875
32         4302480000000000  1964-08-08       Daniel         Cain     8954197
33          180036000000000  1974-11-20    Mackenzie      Salazar    69227435
34          180065000000000  1964-02-15      Krystal       Gamble    38086664
35         6517220000000000  1958-06-11        James        Reese    80354764
36         4683520000000000  1995-04-19      Charles     Carrillo    21139764
37             501899000000  1970-01-08      Jessica    Dominguez     4137358
38         6011350000000000  1980-07-12       Samuel     Johnston    85462919
39          213196000000000  1969-07-24      Zachary        Allen    69864328
40         2712210000000000  1977-02-22        Jenna       Brooks    76977099
41             503874000000  1975-12-28       Andrew        Mcgee     3115948
42             676369000000  1974-12-28        David        Wolfe    21957473
43            4783230000000  1961-04-22      Jessica       Garcia    99170201
44          375849000000000  1943-12-15         Dale        Smith    79972377
45           30270400000000  1972-11-28         Lisa          Lin    64275611
46         6011150000000000  1979-12-11      Jeffrey        White    33149792
47      4110270000000000000  1986-11-06       Sandra     Schwartz    49088409
48             675990000000  1994-03-13       Amanda      Spencer    79132240
49          377027000000000  1974-10-27       Jackie        Davis     2112132
50         6011930000000000  1974-11-02       Joshua        Cohen    90135462
51         3519610000000000  1929-05-06       Audrey     Gonzalez    74798550
53         6011650000000000  1988-10-26      Kathryn        Smith     9794581
54         4116550000000000  1934-03-19      Bridget        Bowen    30151498
55      4855490000000000000  1993-09-29       Jeremy     Roberson     5104277
56      4599740000000000000  1964-12-30         Mary        Myers     9851951
57             561943000000  1986-03-14      Melissa        Brown    10773843
58         2227670000000000  1979-10-22        Angie        Jones    56765676
59         2296010000000000  1999-09-01         Judy        Hogan    59032196
60           36722700000000  1987-10-28      Jessica        Perez    65248692
61          213157000000000  1982-07-30         Adam       Santos    25336387
62         3567700000000000  1998-07-29         John      Stevens     4448323
64          213158000000000  1984-08-01         Tara     Campbell    15867353
65         4509920000000000  1972-03-28       Monica         West    68530610
66           30044300000000  1985-08-29      Allison        Ayala    14596937
68      4710830000000000000  1964-01-04         Juan        Henry     7303638
69         4653880000000000  1999-06-06       Monica       Tucker     9533425
70      4956830000000000000  1980-12-21      Kenneth     Robinson    99072596
71         3590740000000000  1975-12-20     Kimberly     Gonzalez    82080537
72            4755700000000  1985-06-20       Robert        Evans    27255703
73         3542160000000000  1968-01-28      Bradley     Anderson    83871472
74           30235000000000  1978-01-22      Matthew      Lambert    46925383
75          180043000000000  1989-02-28      Charles       Robles    89780803
76         4149240000000000  1989-04-08       Tanner      Carroll    39411175
77         3583790000000000  1970-09-27         Beth      Lambert     6199553
78         3575790000000000  1989-07-17      Lindsay       Wilson    52536815
79         3553630000000000  1984-09-01       Sharon      Johnson    15477276
80          375248000000000  1967-09-16       Joshua      Mendoza    64608406
81            4427810000000  2000-08-16     Michelle    Rodriguez    79049919
82          371985000000000  1949-06-09     Benjamin       Martin    93973252
84             676276000000  1986-01-18       Edward      Hensley    61265368
85         4173950000000000  1978-10-05      Stephen     Marshall    92887786
86         6011200000000000  1986-04-03      Vincent         Ward     8288812
87      4223710000000000000  1974-05-30         Adam       Riddle    38791605
88             675962000000  1967-08-24  Christopher     Cummings    92721308
89             630426000000  1970-03-14        Bryan       Miller    58156268
90         4708990000000000  1938-09-08        Jared      Walters    91902348
92          377234000000000  1966-02-14      Theresa    Blackwell    23334589
93         4294040000000000  1986-12-31         Gail       Weaver    16532528
94          180018000000000  1988-03-21     Michelle        Woods    14751821
95         6011440000000000  1993-04-08      Allison        Allen    90896339
96         5501080000000000  1966-01-04        Wayne        Payne    48153561
97         6011100000000000  1985-09-02      Valerie        Davis    39830570
98          374930000000000  1971-11-05       Daniel      Escobar    23803000
99            4500000000000  1965-04-07       Joseph        Nixon    86214947
100        6592070000000000  1972-05-23       Amanda       Molina    19510149
101     4400010000000000000  1980-09-15      Marissa       Powell    61401785
102          30570200000000  1945-12-07      Vincent         Cain    78712738
104           4561550000000  1988-08-04       Daniel       Briggs     7491267
105        4119760000000000  1945-08-19      Melinda    Gutierrez    27119141
106     4810840000000000000  1985-08-31      Carolyn        Perez    11260603
107        4191110000000000  1992-10-03     Jennifer      Spencer     1627715
108            676195000000  1983-07-24       Brandy        Quinn    62612760
109     4128730000000000000  1949-10-04      Monique       Martin     4657782
110           4681700000000  1978-03-06       Joseph     Gonzalez    63715620
111        3523840000000000  1970-11-20        Grace     Williams    93044671
112     4587660000000000000  2004-05-08        Amber        Lewis    97122950
113        6011860000000000  1952-07-06         Lisa       Mendez     7233475
114        3576430000000000  1981-10-24      Jessica         Ward    54862715
115          30199600000000  1977-03-23      Theresa       Powell    42763579
116        3540020000000000  1983-01-21     Lawrence        Frost    12850634
117         213162000000000  1970-04-17       Monica         Lane    48143124
118          36913600000000  1971-02-11          Ana    Mccormick    72506760
119        2720430000000000  1997-08-22         Mark         Wood    25953779
120     4584930000000000000  1975-04-16       Amanda        Gomez    66979296
121     4537000000000000000  1972-07-18       Nathan      Mendoza    74470755
122        3518230000000000  1970-09-11      Barbara         Lowe    90030262
123        3546670000000000  1984-07-05       Jordan          May    98580553
124        3533180000000000  1951-11-08        Derek      Bentley    44099550
125           4900630000000  1973-09-22      Michael      Johnson    21315626
126          38947700000000  1979-06-24         Lori    Rodriguez    49655613
127        3547560000000000  1966-12-21        Jerry     Robinson    68576777
128         378279000000000  1964-04-06         Mary     Mcintyre     4658561
129        3513620000000000  1955-06-26        Amber        Perez    72455108
131            630485000000  1973-02-07          Ian       Patton    28763916
132         376445000000000  1982-02-11       Rachel         Lowe    36101030
133           4683640000000  1972-07-01       Daniel         Boyd    23152886
134     4503100000000000000  1979-07-03    Katherine       Tucker    39007273
135           4260000000000  1968-11-22        Julie      Johnson    59867230
136            630425000000  1981-08-29     Jennifer        Black    90523958
137         348790000000000  1950-08-19        Megan       Murphy    98036484
138        3587960000000000  1997-01-02        Kathy       Hughes    89915546
140           4260130000000  1997-08-04      Whitney    Gallagher    43503661
141           4189810000000  1998-02-03        Jason       Farmer    81707451
142         371009000000000  2003-09-14      Randall      Burgess    75887504
144        5456780000000000  1954-05-25       Taylor         Khan    73711291
145        3556610000000000  1999-12-27         Jose      Vasquez    51585285
149           4990490000000  1960-12-13       Martin         Ford    66292356
150        3518670000000000  1996-11-12      Dorothy       Thomas    77980595
152            639024000000  1991-06-05      Destiny         Lowe    12231794
153        3517810000000000  1941-10-16      William       Cannon    44517322
154        3567530000000000  1962-03-19       Amanda        Vance    35109636
155        5580560000000000  1990-06-21      Stanley      Dickson    28226477
156        4302480000000000  1995-05-25        David    Rodriguez    14717292
157             60416207185  1986-02-17         Mary         Diaz    52470575
158     4044440000000000000  1970-11-09          Amy       Abbott    68511298
161         180094000000000  1972-09-22       Sharon        Smith      916035
163        4671730000000000  1955-07-25      Kenneth      Edwards     5654207
165        3582400000000000  1957-06-12      Michele      Patrick    85068271
166        4099710000000000  1975-07-07        James     Stephens    87968616
167        6011110000000000  1983-02-08      Rebecca     Erickson    72015061
168        4482430000000000  1946-08-30       Leslie         Ford    14654388
169          30518200000000  1975-06-02        Karen     Sullivan     2541464
171     4736850000000000000  1953-05-23         Toni        Gomez    31673641
174        2358120000000000  1924-10-30         Mike         Tran    17102764
175        2285070000000000  1988-02-15      Richard        Brown    95420562
178         370349000000000  1951-09-03  Christopher        Gomez     6982332
180     4301030000000000000  1978-10-26          Joe       Howard    81919480
181     4063090000000000000  1963-06-13     Patricia      Mendoza    37574285
183         345060000000000  1960-04-03        Brian        Perez     1002912
184        6011890000000000  1975-07-31         Erin       Chavez    61766611
185          30118400000000  1993-04-29        Jared    Velazquez    84343819
186        4492490000000000  1986-10-17     Jonathan         Byrd    78818270
187         377114000000000  1965-03-25        Billy    Gallagher    31456772
188         343473000000000  1971-08-05       Gloria      Wallace    16876743
189        3540210000000000  1992-06-19       Steven        Yoder    89999022
190         343746000000000  1975-10-11      Jeffrey        Munoz    13403749
192        3575540000000000  2001-06-22       Rachel   Villarreal    93394303
193          30176000000000  1966-06-07      Rebecca       Butler    32561869
194         180059000000000  2000-08-28      Richard       Barnes    96313177
195        4904680000000000  1990-10-19         Lisa         Lowe    49788833
196        2264940000000000  1995-10-17         Juan      Sherman    66097474
197         180073000000000  1953-12-08         Cody       Miller    36288013
198        2286240000000000  1950-05-27       Morgan       Murray    11916587
199           4220350000000  1960-01-20      Patrick       Torres    32255232
201           4640400000000  1951-06-13      Melissa       Krause    78145269
202        3586010000000000  1984-02-29      Crystal       Fuller    36752892
203        3533740000000000  1997-06-04       Robert       Haynes    71611879
206        4378990000000000  1999-10-25       Travis        Hayes    83765334
207        6554250000000000  1969-12-22      Monique     Robinson    68070807
208        3557440000000000  2004-06-19       Angela      Edwards    96696432
210            577589000000  1997-10-23        James   Strickland    99885070
211        3566880000000000  1991-01-31         Adam     Mcdonald    69940002
212        3565200000000000  1950-09-15      Adriana       Harvey    11181866
213        2305340000000000  1961-02-14      Jeffrey         Rice    95535148
216        3596220000000000  1988-03-25         Sara      Ramirez    95476485
217        3512370000000000  1985-03-31    Francisco         Kemp    35121855
218        3511060000000000  1960-01-06       Briana       Santos    29502585
219        3564840000000000  1959-03-31       Robert       Ashley    51168397
220        4451440000000000  1999-09-11       Cheryl       Morgan    18182104
222     4855850000000000000  1954-06-30       Justin      Aguilar     2938626
223          30026800000000  1979-09-03         John       Peters    26099204
224        3500970000000000  1999-05-31      Kenneth      Sanchez    75099385
225        3528410000000000  1987-02-14     Patricia        Leach    30639737
226        4003990000000000  1989-02-08        Chris        White    70064419
227        4837000000000000  1979-04-12        Susan        Hardy    48536146
229          30029100000000  1970-10-09       Curtis        Young    48909282
230        3501940000000000  1999-11-30         Lori       Bishop    99961496
231        6011370000000000  1988-09-15        Tammy        Ayers    49665989
232         372382000000000  1966-01-21        Brent      Terrell    20087667
233         343669000000000  1949-11-16        Sally        Moore     9158867
234        4634960000000000  1973-12-26    Mackenzie        Smith    77489700
235         213174000000000  1969-01-14        James       Bishop    56122403
236        4998110000000000  1987-11-18         Mary       Pruitt    75985502
237        4599290000000000  1997-11-18         Mary     Williams     5936811
239        4822370000000000  1991-01-01  Christopher      Farrell    83953430
240        4509140000000000  1926-07-12     Margaret     Williams     4881887
242          30551600000000  1973-11-14       Morgan        Smith    41326794
243        4952580000000000  1957-04-05     Patricia    Rodriguez    87063839
244          30235300000000  1977-08-16      Kenneth        Doyle    60682453
245           4476840000000  1979-01-21       Steven      Walters    32167641
247            676299000000  1971-12-10      Jessica       Werner    53727535
248         373905000000000  1970-11-12        Sarah       Bishop    94194047
249          30273000000000  2000-06-13       Andrew    Patterson    37741876
251           4601640000000  1990-12-18         Mark       Rivera    11064180
254        3520550000000000  2001-07-05      Micheal      Walters    46756397
255     4390970000000000000  1966-06-24         Kyle      Simmons    13340576
256         376657000000000  1985-12-03      Richard        Vance    80913488
257        2229380000000000  1984-11-06       Thomas         Hale    23027519
259        6011980000000000  1943-05-28        Haley       Wagner    53405320
260        3589260000000000  1984-02-14        David       Miller    21948653
263          30501600000000  1973-05-04       Amanda        Smith    76634087
265        4716560000000000  1972-05-04       Lauren     Anderson     3684340
266          38588500000000  1990-11-23   Jacqueline        Curry    69694793
268     4220500000000000000  1966-05-22      Bethany      Andrade    77724537
269        4010000000000000  1983-08-24     Jennifer       Bishop    96109975
270        4129770000000000  1972-06-14       Cheryl      Ballard    43194743
271            567868000000  1984-12-16         Dawn       Tucker    25686256
272        3576020000000000  2004-12-30         Dawn         Gray    14786585
273         376944000000000  1957-12-26      Tiffany     Stephens    77117558
274            580954000000  1960-01-13      Jessica      Benitez    22350569
276            676373000000  1987-07-18        Vicki      Mendoza     7563093
277        3568260000000000  1994-11-24      Timothy        Gomez     9488913
278        6011690000000000  1995-12-04     Victoria      Fleming    48779945
279         180031000000000  1972-01-05        Becky     Mckinney    29788384
281        4873780000000000  1974-03-10    Elizabeth      Maxwell    45502198
284           4623560000000  1954-07-15      Vincent       Waller    70115071
286          30446000000000  1993-05-27      Felicia       Thomas    67628199
289        3561210000000000  1977-01-04         Jose     Campbell    41767408
290        4767270000000000  1961-06-19     Jennifer       Conner    68504185
291         378006000000000  1982-01-07  Christopher     Matthews    35814860
293        3513510000000000  1966-05-29        Sarah        Adams      146774
295            639046000000  1986-06-20        Dylan      Bonilla    74048831
296     4469780000000000000  1980-11-22      Gregory       Graham    27452070
297          30267000000000  1976-11-21        Sarah       Foster    89248042
299        3529600000000000  1985-09-01      Melissa    Rodriguez    84594274
300          38052000000000  1995-09-11         Anna        Logan    43105553
301     4355790000000000000  1969-08-04       Tanner        Davis    57090010
303        4229730000000000  1990-05-03        Tyler        Mills    93590300
304           4103160000000  1982-06-27  Christopher       Adkins    73503763
305        4170690000000000  1993-05-10       Samuel         Frey    58471486
309         348254000000000  1948-03-22       Thomas       Gibson    17562811
313            676174000000  1961-04-25     Brittany          Cox    93245695
314           4957920000000  1955-12-04         Alan      Parsons    92253847
315        5359540000000000  1975-06-29      Michael      Francis    92564781

In [23]:
count = len(customerID)
count

924

In [24]:
#checking
x = customerID[(customerID['first'] == 'Jeffrey') & (customerID['last'] == 'Smith')]
x

                  cc_num         dob    first   last  customerID
488     3534330000000000  1978-01-15  Jeffrey  Smith    22542243
583  4292900000000000000  1995-08-16  Jeffrey  Smith    67240582

### city

In [25]:
city = fraud_df[['city','state','city_pop']].drop_duplicates()
city = city.sort_values(by='city')
city
#city can belong to multiple state e.g. Afton
#a state can have many cities. don't want to create bridging table and city and city_pop is dependent on state so this can have 1 table

                             city state  city_pop
286                       Achille    OK       608
925                       Acworth    NH       477
4797                        Adams    WI      3508
1933                        Afton    MI       937
451                         Afton    MN      2916
1793                        Akron    OH    272134
500                        Albany    NY    151022
2040                  Albuquerque    NM    641349
2646                        Alder    MT       286
123                         Aledo    TX     13602
340                    Alexandria    VA    321490
2603                   Allenhurst    NJ      1533
1546                    Allentown    NY       239
536                     Allentown    PA    166081
5113                    Allentown    GA       112
20                     Alpharetta    GA    165556
108                        Altair    TX       106
326                         Alton    IA      1700
171                        Altona    NY      2148
1                         Altonah    UT       302
2734                         Alva    WY       110
107                        Amanda    OH      4512
2241                American Fork    UT     42384
5719                      Amorita    OK        83
3157                    Amsterdam    OH      2208
163                       Andrews    IN      2304
2020                      Andrews    NC      5354
259                     Annapolis    MD     92106
7321                       Apison    TN      3730
4874                      Arcadia    OH      1202
428                       Arcadia    SC       530
127                       Arcadia    MI       680
1014                    Arlington    VA    207410
789                        Armagh    PA       922
723                        Armonk    NY      7987
217                        Arnold    MO     35439
4240                       Arvada    CO    122111
913                      Ash Flat    AR      2856
183                      Ashfield    MA      1506
2262                      Ashford    WA       759
1624                       Atglen    PA      3066
1000                       Athena    OR      1302
775                      Atlantic    VA       741
718                        Auburn    ME     23045
654                        Aurora    CO    389246
1162                        Avera    GA       741
860                         Avoca    IA      2036
3997                        Azusa    CA     59705
33                         Bagley    WI       878
2073                       Bailey    NC      6629
454                       Ballwin    MO     92608
1121                      Barnard    SD        63
1342                    Barneveld    NY      1684
2116                   Barnstable    MA      1850
329                        Baroda    MI      3104
330                         Basye    VA       863
40                    Baton Rouge    LA    378909
138                  Battle Creek    IA      1075
71                        Bauxite    AR      4074
464                      Bay City    MI     67858
1094                     Bay City    OR      1530
1181                  Bay Minette    AL     19090
1836                      Beasley    TX      2457
901                  Beaver Falls    PA     28425
2556                    Beaverdam    OH       349
565                       Belfast    NY      1766
315                      Belgrade    MT     18182
2354                Belle Fourche    SD      8007
2                        Bellmore    NY     34496
32                        Belmond    IA      3032
620                       Belmont    NH      7430
1767                       Benton    WI      1306
226                      Bessemer    AL     71463
2447                       Bethel    OH     12349
573                Bethel Springs    TN      3876
600                     Big Creek    KY       467
1526                   Big Indian    NY       397
4731                      Bigelow    MN       399
38                     Birmingham    AL    493806
216                    Birmingham    IA       888
1512                   Blackville    SC      4913
2308           Blairsden-Graeagle    CA      1725
198                    Blairstown    MO       467
1641               Blooming Grove    TX      1563
624                       Bolivar    PA      1770
688                        Bolton    NC      2290
2937                     Bonfield    IL      1617
1055               Bonita Springs    FL     51427
1356                      Boonton    NJ     15269
367                       Boulder    MT      1939
119                       Bowdoin    ME      3224
1105                  Bowersville    OH       338
2595                         Boyd    WI      1690
1171                      Bradley    SC      1523
2244                     Brainard    NE       614
355                       Brandon    FL     79613
339                       Brandon    VT      5895
562                      Brantley    AL      2566
1141                     Brashear    MO       805
5                       Breesport    NY       520
1766                   Bridgeport    NJ       504
488                       Bridger    MT      1446
1394                      Brinson    GA      1461
1860                      Bristol    PA     21125
1021                      Bristow    IN       965
572                         Bronx    NY   1382480
50                       Brooklin    ME       824
59                       Brooklyn    NY   2504700
2859                   Broomfield    CO     92337
1707                     Browning    MO       602
476                    Brownville    NY      1271
489                       Brunson    SC      1725
316                        Bryant    WI      1080
1261                      Burbank    WA      3684
2123                      Burbank    OK       471
737                         Burke    VA     43102
281                    Burlington    WA     14871
2199                   Burns Flat    OK      2142
237                       Burrton    KS      1689
2434                        Bynum    TX       522
693                         Cadiz    KY     13422
974                        Camden    NY      6460
1422                       Camden    MO       464
2401                       Camden    TX        99
1254                     Campbell    NE       493
497                        Canton    OH    192805
639                    Cape Coral    FL    156391
946                      Cardwell    MO      1120
820                      Carlisle    IN      4081
6                        Carlotta    CA      1139
1042                      Carroll    NE       566
422                 Cascade Locks    OR      1288
89                           Cass    WV       365
804                       Cassatt    SC      4424
1388                      Catawba    VA      1363
257                     Cazenovia    WI      1360
235                      Cecilton    MD       663
190                         Cedar    MI      3096
247                  Center Point    WV       255
188             Center Tuftonboro    NH      1368
78                     Centerview    MO      2368
1911                      Central    IN       350
4902                      Chatham    NY      4015
1653             Cherokee Village    AR      4726
2479                      Chester    MD      5848
1275              Chester Heights    PA       348
384                     Christine    ND       291
423                    Churubusco    IN      7692
545                         Cisco    IL       478
10214                   Claremont    CA     35705
418                      Clarinda    IA      7297
19                   Clarks Mills    PA       606
369                   Clarksville    TN    151785
3172                  Clarksville    MO      1146
399                   Clay Center    OH       269
1247                      Clayton    OK      1760
58                     Clearwater    FL    172247
1688                    Cleveland    AL      3996
300                     Cleveland    TX     34153
1224                      Clifton    SC       167
1783                        Clune    PA       168
6478                      Clutier    IA       590
385                    Cochranton    PA      5507
553                   Coffeeville    MS      3451
76                       Cokeburg    PA       632
957                    Coleharbor    ND       307
835                       Coleman    TX      5908
2483                 Collegeville    MN      1536
446                 Collettsville    NC       885
21               Colorado Springs    CO    525713
1691                       Colton    WA       761
0                        Columbia    SC    333497
2204                      Comfort    WV       630
2220                      Comfrey    MN       914
79                         Conway    WA        85
206                        Conway    NH      3807
90                           Cord    AR       376
268                        Corona    CA    233717
149                 Corriganville    MD       626
888                       Corsica    PA      1274
195                     Cottekill    NY       722
2328                  Cowlesville    NY      1166
630                         Coyle    OK      1493
422405                      Craig    AK      1920
522                        Cranks    KY       581
858                     Creedmoor    NC     12335
126                        Creola    OH       321
3204                     Cressona    PA      1606
986                       Cromona    KY       502
798                         Cross    SC      4471
1307                 Cross Plains    TX      1897
3035                   Crownpoint    NM      5662
3588                       Curlew    IA       223
1006                     Cuthbert    GA      5726
96                 Cuyahoga Falls    OH     47772
289                     Dadeville    AL      8269
120                        Dallas    TX   1263321
2216                       Dalton    WI      1628
25                      Daly City    CA    107941
928                      Damascus    VA      3085
2433                      Daniels    WV      3994
982                        Darien    GA      5989
158                        Dayton    OH    479994
194                     De Lancey    NY       782
2253                     De Queen    AR     11253
1269                      De Soto    KS      5760
95                        De Witt    AR      5161
1027                     Deadwood    SD      1979
140                         Deane    KY       230
317                         Delhi    LA      6581
5464                    Dell City    TX       579
15                        Deltona    FL     88735
1784               Denham Springs    LA     71335
1151                   Des Moines    IA    222785
5683                    Desdemona    TX       407
527                       Detroit    MI    673342
675                        Dexter    KS       602
429                       Diamond    OH      2644
493                     Dieterich    IL      2092
612                      Doe Hill    VA        99
594                       Dongola    IL      2263
799                    Downsville    NY      1228
97                  Drakes Branch    VA      1970
6593                      Dresden    KS       169
4928                      Du Pont    GA       419
290                        Dublin    PA      2158
5948                        Dubre    KY       341
1545                       Dumont    CO       565
1074                       Duncan    MS       466
544                       Dunlevy    PA       427
1413                   Eagarville    IL        91
1452                        Early    IA       885
117                  East Andover    ME       190
567                   East Canaan    CT       647
1324               East Rochester    NY      8019
828                     East Troy    WI      9679
3473                       Easton    KS      1442
2112                     Edinburg    VA      6018
440                 Edisto Island    SC      2408
305                        Edmond    OK    116001
133                          Egan    LA      1261
1193                     Ehrhardt    SC      1352
801                       El Paso    TX    749635
997                       Elberta    MI       372
439                      Eldridge    AL      1186
70                      Elizabeth    NJ    124967
303                 Elizabethtown    KY     48194
84                     Elk Rapids    MI      2223
933                       Elkhart    IA      1195
73                         Emmons    MN       744
1256                     Emporium    PA      4533
1132                        Enola    AR       969
276                         Esbon    KS       242
121                      Espanola    NM     18408
291                         Etlan    VA       395
128                        Eugene    OR    191096
105                        Eureka    IL      6713
2586                     Fairhope    AL     27829
334                      Fairview    NJ     13835
229                      Falconer    NY      3833
1364                 Falls Church    VA    116155
1837                   Falls City    TX      2435
4                        Falmouth    MI      1126
525                    Farmington    NY     10717
1664                 Fayetteville    NC    238602
1146                     Fenelton    PA      2054
1107                       Ferney    SD        52
677                    Fiddletown    CA       832
51                 Fields Landing    CA       276
1115                     Florence    MS     19685
297                          Ford    VA      1051
201                      Fordoche    LA      1178
66                     Fort Myers    FL    224256
11                  Fort Washakie    WY      1645
962                       Freedom    WY       471
1650                    Fullerton    NE      1749
610                        Fulton    OH       267
129                        Fulton    SD       355
37                        Gadsden    AL     67082
3765                  Gainesville    TX     26120
729                  Gaithersburg    MD    135332
731                       Galatia    IL      1943
1417                     Gardiner    OR       260
3117                     Garfield    KS       365
717                 Garrattsville    NY       165
865                    Georgetown    MN       346
447                   Gibsonville    NC     12486
442                        Girard    GA      1100
1172                 Glade Spring    VA      5657
1790                    Glen Rock    PA      7565
61                       Glendale    CA    172817
24                       Goodrich    MI      6951
1316                    Goreville    IL      3119
273                     Grand Bay    AL     15647
808                Grand Junction    TN      1804
655                   Grand Ridge    FL      3699
17                      Grandview    TX      5875
55                   Graniteville    VT       970
366                         Grant    AL      5901
2248                     Grantham    NH      2971
491                     Grassflat    PA       489
370                   Great Mills    MD      5927
4866                    Greenbush    VA       776
690                     Greendale    WI     13973
1126                    Greenview    CA       308
22                     Greenville    OH     22930
187                     Greenwich    NJ       804
473                     Greenwood    IN     78968
3023                      Gregory    AR        37
512                       Grenada    CA       589
346                        Gretna    LA     55581
50228                     Grifton    NC      7332
915                    Grimesland    NC      5903
242                        Grover    NC      5621
342954                    Guthrie    OK     20226
2381                       Hahira    GA     10295
239                   Haines City    FL     33804
602                         Halma    MN       140
270                       Halstad    MN       771
3217                      Hampton    VA    136895
4606                      Hampton    FL      2060
260                       Hancock    MD      3766
152                 Hannawa Falls    NY        69
2712                  Harborcreek    PA      2518
1361                      Harmony    PA      4589
850                        Harper    TX      2395
1375              Harrington Park    NJ      4664
803                   Harrodsburg    IN        76
102                      Hartford    AL      5732
2986                      Harwood    MD      3289
546                         Hatch    UT       258
747                     Haw River    NC      6006
2559                       Hawley    MN      4508
36                      Hawthorne    CA     93193
1174                       Haynes    AR       222
1205                        Hazel    KY      1480
265                   Heart Butte    MT       743
420                        Hedley    TX       513
678                       Hedrick    IA      1583
175                    Heidelberg    MS      4573
673                      Heiskell    TN      4729
4181                 Heislerville    NJ       526
131                          Helm    CA       123
168                     Henderson    WV       642
1945                       Hewitt    WI       828
441                      Higganum    CT      5438
2379     High Rolls Mountain Park    NM       899
596                      Highland    IN     23727
754                         Hills    MN       899
231                      Hinckley    OH      7646
601                     Hinesburg    VT      4542
575                       Holcomb    KS      2691
682                      Holliday    TX      2317
1239                     Holloway    OH       128
137                      Holstein    NE       331
3048                      Honokaa    HI      4878
234                        Hooper    NE      1745
2314                     Hopewell    VA     31970
233                       Hopkins    SC     13717
269                       Houston    TX   2906700
254                       Hovland    MN       272
2067                      Howells    NE      1063
1569                   Howes Cave    NY      1304
135                        Hudson    KS       215
62                         Hudson    NY     17867
251                        Humble    TX    194500
1912                     Humboldt    AZ      1179
5341             Huntington Beach    CA    190249
1400                   Huntsville    AL    190178
65                         Hurley    SD       811
749                     Hurricane    WV     21902
3546                       Huslia    AK       277
738                         Iliff    CO       648
993                  Independence    MO    123373
800                  Indian Wells    CA      4677
691                  Indianapolis    IN    910148
822                       Ironton    OH     21635
1432                       Irvine    PA       528
1862                       Irvine    KY     13061
1142                     Irwinton    GA      1841
530                        Iselin    NJ     18459
202                      Issaquah    WA     50489
390                       Jackson    MS    233060
2318                      Jaffrey    NH      5457
4562                          Jay    FL      5719
1199                    Jefferson    NY      1666
397                          Jelm    WY       100
354                        Jermyn    PA      6508
203                  Johns Island    SC     20478
705                        Joliet    IL    128354
14                          Jones    AL      1089
7140                Jordan Valley    OR       641
299                   Jordanville    NY       824
611                      Juliette    GA      3343
1149                    June Lake    CA       633
236                   Kansas City    MO    545147
930                       Karnack    TX      2807
831                  Keisterville    PA       184
392                        Keller    TX     95035

### address

In [26]:
#relationship of customer to address
address = fraud_df[['street','city','state']].drop_duplicates()
address = address.sort_values(by='street')
address

                                     street                       city state
202                      000 Jennifer Mills                   Issaquah    WA
1511                     0005 Morrison Land                     Mounds    OK
237                    00315 Ashley Valleys                    Burrton    KS
562                        0043 Henry Plaza                   Brantley    AL
2254                       005 Cody Estates                 Louisville    KY
997              0069 Robin Brooks Apt. 695                    Elberta    MI
328127             007 Tonya Isle Suite 299                      Wever    IA
2216                    00821 Joanna Meadow                     Dalton    WI
986                        010 Salazar Walk                    Cromona    KY
6                           010 Weaver Land                   Carlotta    CA
2241                    0107 Clements Point              American Fork    UT
224                      0110 Ashley Forest                      Tekoa    WA
185                     01479 Murray Circle                    Matawan    NJ
158                     01505 Amy Stravenue                     Dayton    OH
2587          0157 Samuel Mission Suite 379        South Richmond Hill    NY
1242             0182 Owens Burgs Suite 480                    Diamond    OH
1088                     0189 Emily Prairie                    Wichita    KS
72            01892 Patricia Vista Apt. 828                     Sachse    TX
2576            019 Kimberly Light Apt. 039                  Kings Bay    GA
993                 02018 Gary Key Apt. 911               Independence    MO
3200          0207 Griffith Plains Apt. 544                  Louisiana    MO
138           02110 Lucas Freeway Suite 517               Battle Creek    IA
29                         022 Moore Island              New York City    NY
5048                025 White Fork Apt. 633                  Rock Glen    PA
372               030 Seth Divide Suite 355                      Tulsa    OK
17                        03030 White Lakes                  Grandview    TX
2168           03090 Fisher Forges Apt. 200                    Wichita    KS
630                033 Tara Brook Suite 523                      Coyle    OK
3023                   03368 Michelle Trail                    Gregory    AR
355                  034 Kimberly Mountains                    Brandon    FL
508                     03512 Jackson Ports                       Reno    NV
454                        0356 Sarah Light                    Ballwin    MO
949                      0362 Anderson Wall                 Mound City    MO
375               0371 Aimee Neck Suite 856                 Sacramento    CA
140          0374 Courtney Islands Apt. 400                      Deane    KY
4606           03921 Cole Mission Suite 882                    Hampton    FL
834         04139 Johnson Prairie Suite 401                    Detroit    MI
973              0423 Kirby Field Suite 623                   Wilmette    IL
678                     043 Hanson Turnpike                    Hedrick    IA
3268          04611 Sandra Spring Suite 059                     Rumely    MI
2595                        047 Kevin Haven                       Boyd    WI
82                        0495 Baker Manors             Oriskany Falls    NY
572                     04975 Allison Shoal                      Bronx    NY
64               05050 Rogers Well Apt. 439               Rock Springs    WY
767                053 Kim Valley Suite 928                Old Hickory    TN
835          0537 Margaret Common Suite 526                    Coleman    TX
314             0547 Russell Ford Suite 574                       Kirk    CO
259                  05561 Farrell Crescent                  Annapolis    MD
571                     05597 Michael Spurs                      Parks    AZ
880                     057 Martinez Radial                  Texarkana    AR
1532         0611 Stafford Valley Suite 504                     Naples    FL
171                            062 Carl Dam                     Altona    NY
1027              062 Poole Hollow Apt. 815                   Deadwood    SD
7751               0638 Fred Ramp Suite 086                   Palmdale    CA
37           06393 Nancy Parkways Suite 855                    Gadsden    AL
1471                    065 Jones Stravenue                Lake Oswego    OR
4195      06539 Gregory Mountains Suite 029                 Parker Dam    CA
4328           0654 Kevin Turnpike Apt. 084                  Northport    NY
193                         0665 Lisa Alley                     Winger    MN
86              06730 Joshua Isle Suite 555           North Brookfield    MA
5948                     06808 Ryan Valleys                      Dubre    KY
3172                       0688 Kevin Manor                Clarksville    MO
249          06959 Stephen Branch Suite 246                      Thida    AR
2457                        0701 John Ranch                   Portland    OR
957                          071 Wise Trace                 Coleharbor    ND
313             07177 William Dale Apt. 547               Santa Monica    CA
207            07712 Marcus Divide Apt. 831               Laguna Hills    CA
155                         078 Alex Fields                      Smock    PA
565                        079 Chelsea Rest                    Belfast    NY
915                       07943 Davis River                 Grimesland    NC
230           08056 Alvarado Club Suite 699                    Phoenix    AZ
2991          082 Hernandez Bypass Apt. 886                     Quanah    TX
914                          08236 Kim Hill               Indianapolis    IN
1316              083 Karen Island Apt. 656                  Goreville    IL
2474            084 Holmes Avenue Suite 206                    Stayton    OR
10036                  08469 Trujillo Forge                Springville    NY
1094                     08580 Jeremy Falls                   Bay City    OR
968                         086 Pierce Cove                 Pikesville    MD
2479                        0881 Lori Pines                    Chester    MD
1055                 08932 Bonnie Stravenue             Bonita Springs    FL
1873          08966 Beltran Route Suite 905                       Oaks    PA
959                    0900 Beverly Landing                 Louisville    KY
1160              0912 Mark Fields Apt. 080                 Mc Veytown    PA
533                    0925 Lang Extensions                    Shields    ND
125                     094 Owens Underpass                    Norwalk    CA
464                      09419 Lewis Rapids                   Bay City    MI
1006                      0953 David Skyway                   Cuthbert    GA
1084                       098 Stewart Hill                    Slayden    TN
420                        1004 Willis Pass                     Hedley    TX
2314                      1007 Colton Forks                   Hopewell    VA
404                          101 Carla Loop                     Wendel    CA
913                       1025 Robin Square                   Ash Flat    AR
816               1049 John Ports Suite 057                    Newberg    OR
180               109 Brian Lights Apt. 504               Shippingport    PA
265                11014 Chad Lake Apt. 573                Heart Butte    MT
3197                         1125 Ray Track                    Livonia    MI
1206              1145 Tony Drive Suite 080                  Watertown    MN
166                 1166 Castillo Mountains               Ruckersville    VA
115             117 Natasha Vista Suite 936                    Leonard    TX
980            118 Cabrera Springs Apt. 105             Lanark Village    FL
1181                   118 Justin Extension                Bay Minette    AL
723          1198 Robert Stravenue Apt. 479                     Armonk    NY
126                     12087 Michael Light                     Creola    OH
797               121 Solis Summit Apt. 934                      Tryon    OK
2434             1233 Sutton Road Suite 701                      Bynum    TX
653                       12444 Jacob Pines                  Nobleboro    ME
655                        125 Kristen Dale                Grand Ridge    FL
219      1250 Christopher Prairie Suite 016                 Port Costa    CA
1450                    126 Underwood Drive                  San Diego    CA
1342                        128 Nathan Ramp                  Barneveld    NY
2429                     1287 Michael Roads              Washoe Valley    NV
1569                     1299 Joshua Plains                 Howes Cave    NY
43                   13108 Jennifer Passage                 Mc Cracken    KS
277804         13128 Hall Station Suite 588                   Seligman    MO
1311                     1323 Derek Mission                     Noonan    ND
506021          1327 Rose Causeway Apt. 610                  Senatobia    MS
1488                  13299 Patrick Terrace                      Rhame    ND
2661                      133 Alyssa Plains                     Lolita    TX
194          1339 Johnson Landing Suite 007                  De Lancey    NY
583                    135 Joseph Mountains                       Sula    MT
6478                    13613 Hammond Ferry                    Clutier    IA
402                           137 Adam Dale                    Lebanon    VA
638                      13776 Hicks Plains                     Pomona    NY
846             138 Stephen Ridges Apt. 978                   Umatilla    FL
2646        13956 Hughes Causeway Suite 124                      Alder    MT
4863                     14017 Thomas Plaza                      Loami    IL
1261             144 Evans Islands Apt. 683                    Burbank    WA
1911                     144 Martinez Curve                    Central    IN
717                   144 Yu Locks Apt. 754              Garrattsville    NY
242                      1441 Bradley Place                     Grover    NC
273                         1447 Ryan Lodge                  Grand Bay    AL
734               145 Jeffrey Key Suite 668                   Lakeview    MI
154             14601 Downs Skyway Apt. 440              Sterling City    TX
1193              147 Mckinney Run Apt. 743                   Ehrhardt    SC
2088              1471 Alicia Flat Apt. 993        Springfield Gardens    NY
1275                        148 Baker Field            Chester Heights    PA
105                       1497 West Gateway                     Eureka    IL
1014                       1499 Michael Rue                  Arlington    VA
1183             152 James Centers Apt. 768                    Detroit    MI
790         153 Mccullough Springs Apt. 857                  Lamberton    MN
254             15315 Vaughn Park Suite 356                    Hovland    MN
3024              1535 Ryan Burgs Suite 919                 Des Moines    IA
635                      154 Hernandez Keys                Smith River    CA
823             155 Gregory Mount Suite 791                  Red Cliff    CO
206                        1561 Chase Grove                     Conway    NH
546                162 Jessica Row Apt. 072                      Hatch    UT
123                       1626 Susan Course                      Aledo    TX
38                     16285 Jessica Lights                 Birmingham    AL
2379             1632 Cohen Drive Suite 639   High Rolls Mountain Park    NM
240             165 Jerry Meadows Suite 460                   Surrency    GA
231                         1652 James Mews                   Hinckley    OH
473                          166 Lisa Fords                  Greenwood    IN
2693           16744 Campbell Wall Apt. 372                Timberville    VA
1149            168 Michael Coves Suite 343                  June Lake    CA
181                   1683 Davidson Freeway                     Mendon    UT
2143                       169 Edward Inlet                Saint Louis    MO
256              169 Shelia Knoll Suite 753                    Zavalla    TX
1545                     172 Leonard Island                     Dumont    CO
1307               172 Paula Inlet Apt. 650               Cross Plains    TX
174          17355 Mendoza Bypass Suite 059          Linthicum Heights    MD
780            174 Jennifer Meadow Apt. 467              Mountain Park    OK
81            1742 Brandon Squares Apt. 461                    Ruidoso    NM
36          17547 Stephen Turnpike Apt. 846                  Hawthorne    CA
161                     17666 David Valleys                   Sun City    CA
1790              17667 Price Spur Apt. 366                  Glen Rock    PA
175              17819 Jose Mount Suite 657                 Heidelberg    MS
263                        180 Graves Shore                     Scotia    SC
23                181 Moreno Light Apt. 215                   Tomahawk    WI
1707             182 Sergio Summit Apt. 129                   Browning    MO
418               1831 Faith View Suite 653                   Clarinda    IA
3522                     18316 Cannon Place                    Newport    ME
315                 1833 Jeanette Stravenue                   Belgrade    MT
222                       184 Miller Manors                 Wittenberg    WI
364             1852 Vincent Isle Suite 328              Newark Valley    NY
948                       1893 Katie Tunnel                Westerville    NE
49                1898 Parker Fork Apt. 057                    Redford    MO
475                       1911 Fisher Brook               Kirtland Afb    NM
754                      193 Catherine Ways                      Hills    MN
281               194 Goodman Fall Apt. 569                 Burlington    WA
749             1943 Dennis Inlet Suite 145                  Hurricane    WV
2856           195 Murray Overpass Apt. 384                     Winter    WI
1452                   1976 Tyler Underpass                      Early    IA
429                       198 Candace Plaza                    Diamond    OH
1388           1980 Vasquez Manors Apt. 574                    Catawba    VA
53             19838 Tonya Prairie Apt. 947                Rocky Mount    MO
1364           1984 Taylor Island Suite 836               Falls Church    VA
388            199 Patterson Fords Apt. 132                     Naples    FL
2020            200 Christie Mills Apt. 307                    Andrews    NC
534                       2027 Snyder Track                   Manville    WY
13115              204 Ashley Neck Apt. 169                    Preston    CT
2833            2056 Michael Wells Apt. 348              Prairie Creek    IN
21                         20581 Pena Walks           Colorado Springs    CO
1836                        2064 Tyler Fork                    Beasley    TX
804             2076 Thomas Roads Suite 970                    Cassatt    SC
691              209 Austin Stream Apt. 231               Indianapolis    IN
2093              20937 Reed Lakes Apt. 271                 Washington    DC
2674                  20938 Barbara Viaduct              New York City    NY
326             210 Dean Causeway Suite 130                      Alton    IA
758                    21178 Brittney Locks                 Prosperity    SC
127                         212 Mary Stream                    Arcadia    MI
673           2123 Jonathan Falls Suite 753                   Heiskell    TN
4902                    213 Gill Expressway                    Chatham    NY
369          21326 Taylor Squares Suite 708                Clarksville    TN
213                     21447 Powell Circle                    Moulton    IA
631                2161 Blankenship Freeway              West Hartford    VT
2401                       21810 James Mall                     Camden    TX
3336              2193 Osborne Run Apt. 789                       Moro    IL
1945                      220 Frank Gardens                     Hewitt    WI
65              22084 Smith Roads Suite 776                     Hurley    SD
542                     222 Freeman Islands                    Whigham    GA
1205            22502 Baker Mount Suite 241                      Hazel    KY
610                230 Ryan Tunnel Apt. 025                     Fulton    OH
1107             2306 Clark Ranch Suite 515                     Ferney    SD
2112              231 Flores Pass Suite 720                   Edinburg    VA
888           23142 Montoya Island Apt. 742                    Corsica    PA
486                     23220 Eaton Harbors                      Kirby    OH
1970             23383 Denise Pine Apt. 099                 Sacramento    CA
188              234 Bridges Wells Apt. 389          Center Tuftonboro    NH
801          23656 Harris Gardens Suite 698                    El Paso    TX
216                      23843 Scott Island                 Birmingham    IA
3473                       240 Tracy Forges                     Easton    KS
624                    24191 Elizabeth Mill                    Bolivar    PA
1378                     242 Brian Mountain                     Laredo    TX
2240                     24255 Bryan Square                    Palermo    ND
84                        24318 Dixon Mills                 Elk Rapids    MI
12                       244 Abbott Parkway                Loxahatchee    FL
3997                     244 Jeffery Rapids                      Azusa    CA
760             246 Stewart Green Suite 149                West Monroe    LA
1146                24607 Charles Mountains                   Fenelton    PA
270              248 James Squares Apt. 838                    Halstad    MN
31                          2481 Mills Lock                 Plainfield    NJ
295            2497 John Motorway Suite 922                  Leetsdale    PA
279              250 Benjamin Hill Apt. 026                     Mobile    AL
192                   250 Carrie Throughway                 University    MS
44       25036 Contreras Turnpike Suite 270                    Purmela    TX
1362           252 Melissa Rapids Suite 944                    Monetta    SC
2253                      25360 Mcgee Forge                   De Queen    AR
210                      25454 Leonard Lake              Spring Church    PA
3217                   257 Victor Stravenue                    Hampton    VA
2556          25713 Hamilton Grove Apt. 903                  Beaverdam    OH
197                        25748 John Wells                Mooresville    NC
55                       25887 Martin Inlet               Graniteville    VT
755                           25955 Amy Via                    Ozawkie    KS
918            25961 Beverly Union Apt. 042           North Wilkesboro    NC
851                      2622 Reynolds Isle                     Manley    NE
301             2632 Stevens Light Apt. 213                     Payson    IL
2586         265 Christian Summit Suite 231                   Fairhope    AL
2572               265 Mullen Park Apt. 307                Summerfield    NC
24                        26544 Andrea Glen                   Goodrich    MI
349          26572 Hodge Villages Suite 512                    Mifflin    PA
1348                      26615 Nelson Lane                Moores Hill    IN
738               26678 Lisa Locks Apt. 904                      Iliff    CO
928                     2674 Bentley Radial                   Damascus    VA
324             2677 Byrd Village Suite 035                   San Jose    CA
2712                268 Hayes Rue Suite 811                Harborcreek    PA
70                       269 Sanchez Rapids                  Elizabeth    NJ
35          26975 Richardson Mills Apt. 402                     Sontag    MS
3048                       2711 Duran Pines                    Honokaa    HI

In [27]:
add_duplicate = address[address.duplicated(['street'], keep = False)]
add_duplicate = add_duplicate.sort_values(by='street')
add_duplicate

Empty DataFrame
Columns: [street, city, state]
Index: []

In [28]:
x = len(address)
x
#we got 924 unique customers and 924 unique address therefore relationship is 1:1

924

In [29]:
# creation of address_id
fraud_df['combination'] = fraud_df['street'] + fraud_df['city'] + fraud_df['state']
fraud_df['address_id'] = fraud_df['combination'].apply(lambda x: int(hashlib.sha256(x.encode()).hexdigest(), 16)% 10**8)
fraud_df.drop(columns=['combination'], inplace=True)
fraud_df.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,customerID,address_id
0,2020-06-21 12:14:00,2291160000000000,Kirlin and Sons,personal care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,2013-06-21 12:14:25,33.986391,-81.200714,False,74078269,57867665
1,2020-06-21 12:14:00,3573030000000000,Sporer-Keebler,personal care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,2013-06-21 12:14:33,39.450498,-109.960431,False,18702918,6717278
2,2020-06-21 12:14:00,3598220000000000,"Swaniawski, Nitzsche and Welch",health fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,2013-06-21 12:14:53,40.495810,-74.196111,False,95127892,90914912
3,2020-06-21 12:15:00,3591920000000000,Haley Group,misc pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,2013-06-21 12:15:15,28.812398,-80.883061,False,59734903,62699687
4,2020-06-21 12:15:00,3526830000000000,Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,2013-06-21 12:15:17,44.959148,-85.884734,False,81017923,83216614

In [30]:
#checking
count_add = fraud_df[['address_id']].drop_duplicates()
count = len(count_add)
count

924

### transaction

In [31]:
trans_count = fraud_df.groupby('customerID')['trans_num'].size().reset_index(name='trans_count')
trans_count = trans_count.sort_values(by='trans_count', ascending = True)
trans_count

     customerID  trans_count
617    69514816            6
179    19654975            7
724    78976384            8
684    75619426            9
415    49315855            9
817    89708185           10
845    92446933           10
301    34461572           10
394    46595251           10
162    18131504           11
172    19103437           11
298    33612330           12
33      3603551           12
614    69296734           12
112    11671850           12
797    87292974           14
776    85398550          183
603    68504185          184
417    49595295          194
338    39543669          195
94     10180169          195
815    89401806          195
191    21253414          198
685    75647230          199
156    17102764          199
302    34495142          200
493    56765676          200
486    55870867          200
426    49848806          201
759    83764505          201
826    90459044          201
515    59286218          202
579    66205951          202
865    94369633          203
847    92721308          203
609    68812800          204
66      7150172          204
653    73159267          204
399    47436420          204
425    49827483          205
569    65339591          205
234    25761443          206
131    14267084          206
595    67979007          207
296    33149792          207
593    67628199          208
245    26855785          208
697    77117558          208
754    82183362          209
667    74024400          209
123    13119656          209
322    36926024          209
39      4294505          209
676    74549669          210
360    41767408          210
95     10359342          211
16      1733573          211
734    79746726          211
678    74873587          211
896    96931959          212
821    89982401          212
229    25433219          212
311    35465282          213
451    52837244          213
870    94674806          213
75      8200114          213
278    30994432          213
410    48793523          213
838    91751387          214
809    88462624          214
563    64547637          215
893    96629318          215
128    13636377          215
274    30298105          215
509    58354473          215
120    12850634          215
535    61265368          215
185    20329606          216
869    94600666          216
899    97124250          216
514    59117212          216
157    17126647          216
850    92904385          216
453    52965975          217
559    64386470          217
613    69277156          217
629    70223979          217
476    54893256          217
461    53405320          217
780    85825455          217
749    81845904          218
267    29502585          218
421    49689213          218
277    30829949          218
806    88237318          218
872    94804665          218
231    25671938          218
458    53175318          218
230    25625133          218
500    57598134          219
751    81944487          219
129    13854977          219
446    52177261          219
604    68511298          219
76      8288812          219
597    68156337          219
380    45000571          220
755    82513334          220
717    78428413          220
805    88081211          220
265    29384892          220
186    20481804          220
113    11712568          220
533    61219404          220
851    92913130          220
38      4279521          220
585    66806833          221
788    86462123          221
761    83871472          221
284    32084283          221
668    74025459          221
310    35465189          221
531    61070567          222
836    91532429          222
573    65606748          222
438    50680352          222
414    49161904          222
706    77641732          222
358    41589720          222
638    71675599          222
465    54074255          222
516    59385911          223
287    32321310          223
801    87645446          223
155    17070783          223
681    75112067          223
662    73724202          223
548    63345224          223
354    41256680          224
540    61617647          224
808    88303209          224
602    68404469          224
272    30151498          224
583    66699061          224
28      2938626          224
118    12712598          224
375    43884319          224
512    58899916          225
173    19237890          225
3        340731          225
413    49088409          226
600    68240698          226
312    35814860          226
276    30660240          227
65      7142334          227
463    53856689          227
96     10537754          227
459    53192260          228
693    76919832          228
60      6575607          228
848    92799325          228
618    69580099          228
794    87101331          229
163    18141534          229
720    78712738          229
721    78818270          229
427    49917675          230
176    19305437          230
831    90724134          230
607    68620645          230
307    35218472          230
641    71730885          231
530    60972801          231
371    43215124          231
608    68780345          231
168    18600871          231
14      1543327          232
393    46418493          232
261    29242526          232
735    79888518          232
674    74296920          232
773    85068271          232
526    60305193          232
733    79727091          232
206    23047553          233
589    67388119          233
314    36124989          233
24      2648085          233
615    69348416          233
279    31170879          233
196    21634159          234
659    73503763          234
159    17562811          234
747    81707451          234
452    52899362          234
363    42333142          236
443    51746564          236
722    78895684          236
478    55098587          236
745    81062788          237
153    16937934          237
711    78009851          237
56      6054138          237
658    73361125          238
803    87737219          238
23      2541464          238
400    47455535          239
484    55629133          239
812    88925397          239
345    40125039          239
273    30227839          240
700    77291584          240
756    82623100          240
671    74079172          241
41      4424775          241
655    73226498          241
160    18088237          241
177    19510149          242
423    49735544          242
738    80378205          242
810    88499217          242
882    95521870          243
692    76888638          243
908    98673151          245
58      6308129          246
483    55420282          247
357    41584755          247
59      6423606          247
739    80528810          247
758    83749837          248
591    67444905          250
664    73847313          253
891    96313177          255
894    96696432          257
174    19255680          258
571    65400539          259
464    53865593          268
142    15846668          397
359    41670301          402
909    98676835          406
299    33685758          407
181    20056832          408
369    43184009          409
477    54997907          410
381    45264269          412
900    97202782          412
913    99079261          413
474    54855918          413
0        146774          413
377    44293712          414
584    66783999          414
37      4273233          416
499    57379933          416
262    29273886          416
254    28226477          417
238    26181991          417
719    78637172          417
316    36336598          418
188    21109358          418
551    63701745          419
32      3349595          419
895    96727430          419
90      9984065          419
842    92155547          419
897    96952157          419
266    29397530          420
772    85038144          420
89      9867984          420
180    19720140          420
683    75463441          421
344    40110225          422
317    36545882          422
505    58050052          423
605    68530610          423
796    87174521          423
82      9237418          424
341    39874168          424
244    26741716          424
171    18896654          425
258    28990376          425
555    64061725          425
770    84632022          425
22      2439457          426
227    25226820          426
843    92253847          426
97     10580441          426
86      9599760          426
861    94006142          427
554    63916655          427
704    77553783          427
496    57007192          427
71      7969324          427
149    16484760          428
519    59529099          428
867    94546933          428
656    73244786          428
511    58591358          428
757    83268385          429
507    58236612          429
292    32809301          429
289    32406025          429
376    44099550          431
890    96305543          431
397    46890429          431
866    94390669          431
572    65593128          431
708    77747319          431
114    11825571          432
502    57872127          432
610    69029941          433
807    88245538          433
349    40460950          433
364    42641192          434
51      5172083          434
827    90463106          434
167    18590856          434
61      6605329          434
601    68401357          434
240    26296688          434
199    22350569          434
633    71166411          435
639    71717205          435
99     10645662          435
308    35333009          435
124    13340576          435
907    98580553          435
10      1002912          435
26      2828145          436
401    47637973          436
650    72736586          436
445    52104355          436
383    45360775          436
769    84594274          436
370    43194743          436
264    29329239          437
12      1224842          437
324    37275818          437
436    50540727          438
431    50400805          438
105    11181866          438
468    54218274          438
903    97742180          438
599    68189434          438
696    77028110          439
482    55397357          439
873    94845139          440
392    46200791          440
146    16246963          440
731    79288434          440
270    29981757          440
140    15399369          440
46      4878815          440
152    16876743          440
790    86815450          440
524    59867230          441
456    53097634          441
707    77724537          441
652    73139072          441
378    44517322          441
712    78054233          441
239    26291983          441
590    67413170          441
209    23208764          442
126    13515640          442
518    59432851          442
816    89612001          442
329    38009539          444
161    18125876          444
544    62230862          444
366    42772358          445
503    57959316          445
625    69940002          445
539    61614310          446
630    70340833          446
145    16147922          446
879    95420562          446
874    95014437          446
691    76751941          446
347    40401276          446
709    77790836          447
34      3620849          447
107    11201591          447
327    37692278          448
860    93973252          448
495    56961498          449
305    35109636          449
766    84290906          449
698    77117976          450
27      2859486          450
220    24224792          451
127    13531727          451
430    50261949          452
183    20067978          452
250    27522024          452
192    21294809          452
215    23908112          452
825    90135462          453
224    24605970          453
746    81678209          453
449    52614137          453
762    83932155          454
545    62577479          454
726    79000316          454
902    97497930          454
763    83953430          455
570    65357215          455
859    93973056          456
320    36669386          457
255    28354112          457
598    68164483          457
64      6982332          458
88      9851951          458
920    99881809          458
391    46150230          459
339    39708219          459
263    29288739          460
102    11064180          461
293    32923797          461
646    72284547          461
406    48297811          461
892    96606631          461
275    30639737          462
566    64928169          463
164    18182104          463
325    37574285          463
467    54164271          464
783    86166519          464
669    74048831          466
645    72032723          466
334    39112993          467
147    16394945          467
792    87063839          467
501    57677803          468
543    61939829          470
49      5077091          470
910    98829409          471
764    84192483          471
40      4420262          472
389    45974507          472
395    46756397          488
54      5936811          503
455    52999546          593
472    54668329          598
887    96109975          611
917    99780088          611
396    46771561          618
121    12908212          619
2        277372          620
703    77501635          621
379    44642268          621
73      8098672          624
829    90557238          626
565    64880274          627
837    91660892          628
534    61257002          629
295    33060904          630
45      4658561          631
727    79018897          632
864    94198392          633
723    78964398          634
454    52977142          634
858    93590300          634
98     10610629          635
774    85080747          635
876    95317817          635
243    26574405          635
303    34936541          635
883    95535148          636
729    79120601          636
450    52634451          636
100    10773843          636
506    58156268          637
494    56959530          637
473    54770129          637
282    31736170          637
387    45726407          638
165    18212824          638
558    64306124          638
823    89999022          638
18      1948241          638
150    16532528          638
498    57262602          639
586    66979296          639
672    74147603          639
404    48176639          639
225    24711738          640
670    74078269          640
154    17023963          640
795    87129008          640
42      4447127          640
402    48143124          641
318    36607014          641
348    40442819          641
403    48153561          641
25      2698461          641
226    24894932          642
765    84194046          642
914    99170201          642
346    40397837          643
286    32255232          643
781    85989581          644
819    89874708          644
333    39007273          644
437    50662195          644
207    23125408          645
904    97853554          645
616    69435542          645
880    95423571          646
252    27850541          646
435    50538406          646
606    68576777          647
705    77571667          647
830    90715602          647
330    38086664          648
130    13939171          648
677    74798550          648
725    78995764          648
434    50502409          648
283    31785232          649
189    21139764          649
492    56593199          649
362    42292799          650
798    87451622          650
649    72697642          650
901    97220644          651
336    39390892          651
408    48581702          651
6        860497          651
372    43264606          652
460    53215318          652
596    68070807          652
799    87454650          653
854    93245695          653
134    14654388          653
205    23027519          653
352    41086217          654
80      8954197          654
485    55766653          654
853    93047919          654
785    86371453          655
813    89170096          656
651    72839023          656
787    86458313          657
628    70186590          657
21      2431326          657
125    13403749          657
233    25689957          658
789    86597226          658
791    86930839          658
332    38859321          658
466    54144451          659
567    65172474          659
752    82066770          659
728    79049919          660
441    51582104          660
856    93394303          660
361    42112821          660
743    80913488          661
253    28040004          661
178    19654894          662
444    51793314          662
654    73192993          662
522    59734903          663
271    30114236          663
487    55974609          663
219    24135725          663
504    57992224          664
462    53727535          664
560    64409654          665
182    20067669          666
309    35362900          666
469    54553624          666
138    14823198          666
77      8382901          666
538    61404984          666
643    71832642          666
481    55374129          666
689    76562911          666
491    56426244          666
562    64477663          666
15      1627715          667
665    73888436          667
81      9158867          667
136    14751821          667
68      7303638          667
760    83765334          668
802    87685196          669
523    59737273          669
508    58273757          669
470    54595435          669
488    55991644          669
587    67082727          669
405    48184877          670
686    75887504          671
184    20087667          671
315    36288013          671
211    23507147          671
528    60682453          671
716    78425890          671
736    79972377          672
489    56122403          672
91     10017762          672
553    63906234          673
36      4137358          673
623    69864328          673
878    95378911          673
116    12000283          674
190    21164701          674
624    69902175          675
247    27119141          676
631    70751277          677
342    39902713          677
447    52470575          678
9        996241          679
1        163011          679
31      3253417          679
17      1791827          680
259    29080797          681
350    40749102          681
855    93323632          681
194    21337644          681
840    91833843          682
115    11916587          682
93     10119397          682
814    89248042          682
471    54612365          683
200    22436960          683
412    49079684          683
715    78413131          684
786    86417609          684
588    67240582          684
83      9359169          685
290    32471018          685
642    71820241          688
439    50688763          688
886    96039150          690
419    49655613          691
8        944878          691
139    15335211          692
72      7978178          693
497    57090010          693
323    37057372          694
343    40041226          696
921    99885070          699
216    23939463          702
889    96255990          715
611    69082272          723
373    43503661          733
5        799954          809
285    32167641          813
906    98478112          820
122    13074798          821
532    61108478          825
594    67743013          827
166    18249486          828
916    99736907          828
288    32355972          828
109    11422108          832
67      7233475          832
775    85213196          834
175    19293700          834
351    40925635          835
170    18702918          837
203    22996245          838
242    26474803          839
737    80354764          840
110    11446836          841
732    79505363          842
905    98036484          842
202    22542243          842
48      5035141          843
634    71459274          843
221    24232110          846
331    38791605          846
411    48909282          846
337    39411175          848
217    24013501          848
4        471533          850
699    77167035          851
627    70115071          852
673    74215276          852
682    75390603          852
922    99951681          852
384    45452775          853
106    11200826          854
580    66292356          856
884    95554238          856
541    61754430          857

In [32]:
trans_count_sum = trans_count['trans_count'].sum()
trans_count_sum == len(fraud_df)

True

In [33]:
count = len(trans_count)
count
# all customers have transaction

924

### merchant

In [34]:
merchant = fraud_df.groupby('merchant')['trans_num'].size().reset_index(name='trans_count')
merchant = merchant.sort_values(by='merchant')
merchant

                                  merchant  trans_count
0                            Abbott-Rogahn          803
1                           Abbott-Steuber          766
2                       Abernathy and Sons          762
3                              Abshire PLC          838
4               Adams, Kovacek and Kuhlman          414
5                            Adams-Barrows          789
6          Altenwerth, Cartwright and Koss          851
7                       Altenwerth-Kilback         1091
8                            Ankunding LLC          859
9                        Ankunding-Carroll          334
10          Armstrong, Walter and Gottlieb          766
11                                Auer LLC          838
12                           Auer-Mosciski         1032
13                               Auer-West          906
14                         Bahringer Group          713
15         Bahringer, Bergnaum and Quitzon         1071
16            Bahringer, Osinski and Block          848
17           Bahringer, Schoen and Corkery         1027
18                        Bahringer-Larson          411
19                       Bahringer-Streich          746
20                            Bailey-Morar         1058
21                        Balistreri-Nader          730
22                             Barrows PLC         1003
23                     Bartoletti and Sons          810
24                       Bartoletti-Wunsch         1117
25                              Barton Inc         1050
26                              Barton LLC          963
27                         Bashirian Group          790
28                            Bauch-Blanda          773
29                            Bauch-Raynor         1084
30                            Baumbach Ltd          800
31              Baumbach, Feeney and Morar          837
32          Baumbach, Hodkiewicz and Walsh         1016
33           Baumbach, Strosin and Nicolas          967
34                        Bechtelar-Rippin          747
35               Becker, Harris and Harvey          855
36                            Bednar Group          540
37                              Bednar Inc          355
38                              Bednar PLC          942
39                               Beer-Jast         1013
40                               Beier LLC          787
41                          Beier and Sons         1019
42                             Beier-Hyatt         1061
43                               Berge LLC         1109
44               Berge, Kautzer and Harris          840
45                             Berge-Hills         1033
46                           Berge-Ullrich         1027
47                            Bernhard Inc         1102
48           Bernhard, Grant and Langworth          981
49                          Bernhard-Lesch          818
50                        Bernier and Sons          951
51             Bernier, Streich and Jewess          390
52             Bernier, Volkman and Hoeger          535
53             Bins, Balistreri and Beatty         1006
54                             Bins-Howell          719
55                               Bins-Rice         1129
56                            Bins-Tillman          775
57                             Block Group          701
58                             Block-Hauck          365
59                          Block-Parisian          562
60                             Bode-Rempel         1025
61                           Bode-Schuster          954
62             Boehm, Block and Jakubowski          647
63             Boehm, Predovic and Reinger          665
64                            Bogisich Inc         1055
65                       Bogisich-Homenick          535
66                        Bogisich-Weimann          949
67                            Botsford Ltd         1018
68                            Botsford PLC         1002
69                       Botsford and Sons         1099
70                               Boyer PLC         1506
71                             Boyer-Haley          368
72                          Boyer-Reichert          871
73                             Bradtke PLC          999
74             Bradtke, Torp and Bahringer          766
75                         Breitenberg LLC          346
76                   Breitenberg-Hermiston          973
77                         Brekke and Sons         1128
78                               Brown Inc          963
79                               Brown PLC          561
80               Brown, Homenick and Lesch          715
81                         Brown-Greenholt          836
82                              Bruen-Yost          715
83                           Buckridge PLC          695
84                             Carroll PLC          743
85                          Cartwright PLC          976
86                       Cartwright-Harris         1035
87                 Casper, Hand and Zulauf         1039
88                           Cassin-Harvey          415
89                       Champlin and Sons          999
90          Champlin, Rolfson and Connelly          343
91                         Champlin-Casper         1006
92   Christiansen, Goyette and Schamberger         1118
93                 Christiansen-Gusikowski          680
94                                Cole PLC         1074
95                  Cole, Hills and Jewess         1082
96                             Collier Inc          369
97                             Collier LLC         1044
98                            Connelly PLC          812
99          Connelly, Reichert and Fritsch         1104
100                        Connelly-Carter         1032
101                             Conroy Ltd          964
102        Conroy, Balistreri and Gorczany          733
103                     Conroy-Cruickshank         1119
104                           Conroy-Emard          781
105                            Cormier LLC         1597
106             Cormier, Stracke and Thiel          773
107                         Corwin-Collins         1178
108                        Corwin-Gorczany          558
109                       Corwin-Romaguera          356
110             Cremin, Hamill and Reichel          659
111           Crist, Jakubowski and Littel         1080
112                         Crona and Sons          973
113             Cronin, Kshlerin and Weber          735
114                        Crooks and Sons          805
115                      Cruickshank-Mills          800
116                      Cummerata-Hilpert          758
117                        Cummerata-Jones         1124
118                         Cummings Group          370
119                           Cummings LLC         1123
120                             Dach-Borer          337
121                             Dach-Nader          524
122            Dare, Casper and Bartoletti          975
123              Dare, Fritsch and Zboncak          683
124                            Dare-Gibson          690
125                            Dare-Marvin          783
126                          Daugherty LLC          971
127           Daugherty, Pouros and Beahan         1040
128                     Daugherty-Thompson          762
129                            Deckow-Dare          783
130                        Deckow-O'Conner         1075
131                       Denesik and Sons         1020
132          Denesik, Powlowski and Pouros         1062
133                       Dibbert and Sons          831
134                          Dibbert-Green          785
135                              Dicki Ltd          407
136                          Dickinson Ltd         1519
137                       Dickinson-Rempel          720
138                         Dietrich-Fadel          743
139                           Donnelly LLC          805
140                           Donnelly PLC          544
141                             Dooley Inc          968
142                        Dooley-Thompson          537
143          Douglas, DuBuque and McKenzie          326
144          Douglas, Schneider and Turner         1003
145                          Douglas-White          786
146                              Doyle Ltd          944
147                            DuBuque LLC         1006
148           Durgan, Gislason and Spencer         1033
149                            Durgan-Auer          563
150                        Ebert-Daugherty          393
151                            Effertz LLC          776
152          Effertz, Welch and Schowalter          787
153          Eichmann, Bogan and Rodriguez         1140
154            Eichmann, Hayes and Treutel          347
155                       Eichmann-Kilback         1062
156                        Eichmann-Russel          671
157                              Emard Inc         1226
158                      Emmerich-Luettgen          366
159                           Emmerich-Rau          756
160                          Erdman-Durgan          684
161                           Erdman-Ebert          736
162                       Erdman-Kertzmann         1134
163                         Erdman-Schaden          786
164                           Ernser-Feest         1064
165                           Ernser-Lynch          764
166                              Fadel Inc          762
167                Fadel, Mertz and Rippin          798
168                          Fadel-Hilpert          725
169                              Fahey Inc          932
170                 Feil, Hilpert and Koss          795
171                             Feil-Morar          728
172               Ferry, Lynch and Kautzer          534
173             Ferry, Reichel and DuBuque          394
174                             Fisher Inc          808
175                      Fisher-Schowalter          869
176                          Flatley Group          679
177                         Flatley-Durgan          558
178                            Frami Group          822
179                            Friesen Inc          959
180                            Friesen Ltd          738
181                        Friesen-D'Amore         1133
182                          Friesen-Ortiz          815
183                          Friesen-Stamm         1094
184                            Fritsch LLC          349
185                       Fritsch and Sons          737
186                             Funk Group          388
187                      Gaylord-Powlowski         1078
188                            Gerhold LLC         1020
189                            Gerlach Inc          792
190                          Gibson-Deckow          747
191                         Gislason Group         1053
192                       Gleason and Sons          976
193                     Gleason-Macejkovic          861
194            Goldner, Kovacek and Abbott         1109
195                          Goldner-Lemke          836
196                       Goodwin-Nitzsche         1056
197                         Gottlieb Group          983
198        Gottlieb, Considine and Schultz          793
199                        Gottlieb-Hansen          777
200                            Goyette Inc          830
201            Goyette, Howell and Collier          952
202                        Goyette-Gerhold         1019
203                         Goyette-Herzog          354
204                        Graham and Sons          742
205             Graham, Hegmann and Hammes          777
206      Greenfelder, Bartoletti and Davis          593
207                          Greenholt Ltd          719
208          Greenholt, Jacobi and Gleason         1138
209       Greenholt, O'Hara and Balistreri          808
210                             Grimes LLC          803
211                          Gulgowski LLC         1071
212                            Gutmann Ltd          386
213           Gutmann, McLaughlin and Wiza         1040
214                          Gutmann-Upton          664
215                            Haag-Blanda          783
216                          Hackett Group          382
217                      Hackett-Lueilwitz         1058
218           Hagenes, Hermann and Stroman          383
219              Hagenes, Kohler and Hoppe          785
220         Hahn, Bahringer and McLaughlin          785
221           Hahn, Douglas and Schowalter          364
222                            Haley Group          711
223                   Haley, Batz and Auer          747
224            Haley, Jewess and Bechtelar          993
225                        Halvorson Group          715
226                         Hamill-D'Amore          735
227                       Hamill-Daugherty          532
228                          Hammes-Beatty          956
229                             Harber Inc         1125
230                           Harris Group          809
231                             Harris Inc         1138
232          Harris, Gusikowski and Heaney          397
233             Hartmann, Rowe and Hermann          365
234               Hauck, Dietrich and Funk          959
235           Hayes, Marquardt and Dibbert          566
236                       Heaney-Marquardt          822
237                          Heathcote LLC          802
238          Heathcote, Yost and Kertzmann          830
239                        Heidenreich PLC          974
240                             Heller PLC          709
241              Heller, Gutmann and Zieme         1025
242                         Heller-Abshire          378
243                         Heller-Langosh         1107
244                             Herman Inc          655
245            Herman, Treutel and Dickens          570
246                       Hermann and Sons         1006
247                        Hermann-Gaylord          710
248           Hermiston, Pacocha and Smith          722
249            Hermiston, Russel and Price          790
250                             Herzog Ltd          646
251          Hettinger, McCullough and Fay         1061
252                           Hickle Group          950
253            Hills, Hegmann and Schaefer          736
254                            Hills-Boyer          823
255                            Hills-Olson          376
256                          Hills-Witting          850
257                         Hilpert-Conroy         1053
258                 Hintz, Bauch and Smith          754
259                            Hintz-Bruen          409
260                           Hirthe-Beier          734
261        Hodkiewicz, Prohaska and Paucek          345
262                           Homenick LLC          787
263               Hoppe, Harris and Bednar          797
264                         Hoppe-Parisian         1006
265                               Howe Ltd          725
266                               Howe PLC          766
267                           Hudson-Grady          978
268                           Hudson-Ratke         1079
269                               Huel Ltd          595
270               Huel, Hammes and Witting         1120
271                         Huel-Langworth          570
272                             Huels-Hahn         1157
273                            Huels-Nolan         1121
274            Hyatt, Russel and Gleichner          742
275                            Hyatt-Blick          374
276                             Jacobi Inc          740
277                        Jacobi and Sons         1009
278                       Jakubowski Group          774
279                         Jakubowski Inc         1072
280                      Jaskolski-Dibbert          397
281                   Jaskolski-Vandervort          517
282                               Jast Ltd          804
283                          Jast and Sons          744
284                         Jast-McDermott          948
285             Jenkins, Hauck and Friesen         1112
286                          Jerde-Hermann          312
287                             Jewess LLC         1054
288                              Johns Inc          775
289                           Johns-Hoeger          848
290       Johnson, Runolfsdottir and Mayer          536
291          Johnston, Nikolaus and Maggio          396
292                        Johnston-Casper          370
293            Jones, Sawayn and Romaguera          530
294                           Kassulke Inc          769
295                           Kassulke PLC          814
296                       Kautzer and Sons          798
297                          Keeling-Crist          698
298                       Kemmer-Buckridge          683
299                         Kemmer-Reinger          382
300                            Kerluke Inc          540
301                            Kerluke PLC          552
302      Kerluke, Considine and Macejkovic          562
303            Kerluke, Kertzmann and Wiza          558
304                        Kerluke-Abshire          797
305                          Kertzmann LLC          724
306                          Kessler Group          318
307                            Kessler Inc          325
308                              Kiehn Inc         1013
309                         Kiehn-Emmerich         1077
310                               Kihn Inc          977
311            Kihn, Abernathy and Douglas          857
312               Kihn, Brakus and Goyette          817
313                           Kihn-Fritsch          833
314                          Kihn-Schuster          817
315                          Kilback Group          766
316                            Kilback LLC         1859
317                       Kilback and Sons          822
318          Kilback, Nitzsche and Leffler          350
319                        Kirlin and Sons          736
320                            Klein Group          836
321                              Kling Inc         1154
322              Kling, Howe and Schneider         1007
323                           Kling-Ernser          792
324                            Kling-Grant          389
325                             Klocko LLC          574
326  Klocko, Runolfsdottir and Breitenberg          721
327                       Koelpin and Sons          578
328                           Koepp-Parker         1075
329                          Koepp-Witting          968
330           Kohler, Lindgren and Koelpin          335
331     Konopelski, Schneider and Hartmann          695
332                          Koss and Sons         1142
333             Koss, Hansen and Lueilwitz         1042
334             Koss, McLaughlin and Mayer          737
335                            Kovacek Ltd          345
336          Kovacek, Dibbert and Ondricka         1060
337                            Kozey-Boehm          892
338                          Kozey-Kuhlman          770
339                        Kozey-McDermott          346
340                         Kris-Kertzmann          339
341                           Kris-Padberg         1018
342                           Kris-Weimann          528
343                                Kub PLC          779
344                             Kub-Heaney          758
345                              Kuhic Inc         1041
346                              Kuhic LLC          857
347                Kuhic, Bins and Pfeffer          822
348                             Kuhn Group          795
349                               Kuhn LLC         1521
350                            Kulas Group          732
351                          Kunde-Sanford          582
352                              Kunze Inc         1077
353               Kunze, Larkin and Mayert          351
354                      Kuphal-Bartoletti          546
355                        Kuphal-Predovic          510

In [35]:
num_merchant = merchant['trans_count'].sum()
num_merchant == len(fraud_df)

True

In [36]:
trans = fraud_df.groupby('trans_num')['merchant'].size().reset_index(name='merch_count')
trans = trans.sort_values(by='merch_count')
trans.head(100)
#by sampling, 1 transaction belong to only 1 merchant

                               trans_num  merch_count
0       00005fc67bb45d98730559d40c9ca601            1
370486  aacb0b6d2bac913634c11dab46948635            1
370485  aacadffa0affb3de9cb3ee1e660fd5e4            1
370484  aaca939b75eaf047ea704ab0ecd18a59            1
370483  aaca5cd2c992f8ea810bd2e28a8c3355            1
370482  aaca32fa7d341c052431a01b0f920d40            1
370481  aaca0f5bed3517d4a8001d3c9f5994ee            1
370480  aac9fbc02c891842aad8871c6b3f54de            1
370479  aac9f660a3483f9dcba9dbae3aefbd00            1
370478  aac9e094a5c1bb50e31a13a2577aeb87            1
370477  aac9a40fcf3ab6575a0655b1357a2bf7            1
370476  aac99efbb4abc64478512ffec197079d            1
370475  aac991759214cb18055264da1be4d6e7            1
370474  aac969b540c60785a2c8d7f0fd4e9fbc            1
370473  aac95459435ce3ca1f8ae276534b6aa3            1
370472  aac916f3f32f4a196dae0e5cccc820ba            1
370471  aac9054c5a3db7679620dd99c5e78304            1
370470  aac8a68c988b3de3ae12daf1bbe0187d            1
370469  aac8987c761e65a10a993d27301d04aa            1
370468  aac88a6be16aae615f3837fb49653131            1
370467  aac877a84a8bc16718d296497d3e3c00            1
370466  aac8695d34083446faccd7ab5af926ef            1
370465  aac81761e4d2a7fca9906220d51d65d0            1
370464  aac811477169bf2550ea6bb4e6292967            1
370463  aac7f98be314ead2e8c7170fd7205531            1
370462  aac7e652d75eff57988e353e13cfe4cc            1
370461  aac7d2ac2dc93bf5b1fde132d4c6a111            1
370460  aac7bddc708ac6b8e0c327a28d4f1be8            1
370459  aac7b2e75148ef4a67e48ec62fcc7669            1
370458  aac78674f4b70ca7efa324e48cd9ad82            1
370487  aacb10f8518b826340c71817b8e21dbc            1
370488  aacb17f99887fa21533fdf877e16490d            1
370489  aacb51055c217f96adf292dba3cb8f12            1
370490  aacb7d6b176fc4e2a1f8d3434ae4380e            1
370520  aace4b8d608bac220bca93721d3c8d8d            1
370519  aace4760a6bbf2efbcfefc494e707769            1
370518  aace3d186a70ae2f64cf3bd64aeb3a66            1
370517  aace39c7023a6154f06398783f3b4f46            1
370516  aace34c6ba83373d56c90301691da811            1
370515  aacdd261fea598efe299c4ad9cb406cb            1
370514  aacdb297916c57846a998a1a731e2f50            1
370513  aacd9b73303ea7a53a1f76c2f3ca469e            1
370512  aacd91709b36938ddd8933ec7ac37f9f            1
370511  aacd8f114f3d536f28e8bbfc0c55a11f            1
370510  aacd57ebfdf4c01a78b73624c391c5bc            1
370509  aacd4dfb1dc0530fcf0a574ccef801d7            1
370508  aacd470dfcbbbe1ac15f7c0583e676f9            1
370507  aacd3aa928f718edf08eb5fde22321be            1
370457  aac785c2745a7b819331c17867bc35e1            1
370506  aacd18f010fbc0b0891ca3824e744f79            1
370504  aacce1551fa2df95a178e0781307842b            1
370503  aaccc9ac94147b16c3fed80c3ee899fc            1
370502  aaccb80b5e0d13baf53406c9f15a9753            1
370501  aaccae1590ee65aebcd328107424f40c            1
370500  aaccab08d92d68c86bb14d2f83353ef4            1
370499  aacc68993ae02510504a5dcee92fd50e            1
370498  aacc5b5c99ca2743f206c4ad58641caf            1
370497  aacc4c4006e4c84badc23edb0b6f12c4            1
370496  aacc2c0817146d3dcd04d2a1c9f04869            1
370495  aacc075319b0e842e50dcfdefb94de8e            1
370494  aacbfdcc28ae32089a403bd0a4fd8cde            1
370493  aacba5b1b138540ccb4be5602bcfbd39            1
370492  aacb9605b09f551dd283d8d3d2078012            1
370491  aacb8cf1b5e9382c6fdf858d6ea528f6            1
370505  aacd14d4edb2f5c837460d1f435a475c            1
370456  aac72787a4626eec0ba7d52a49c5d53f            1
370455  aac7232985359599826f001c6ce97e41            1
370454  aac71fbfcddcb0fe85e7cb2317d61528            1
370419  aac3c21e4b51f3cf3c06cba914c34f04            1
370418  aac3a666e3efc327d395c9a02251ded6            1
370417  aac347a775675b8b9e8b3ed2ee85bfeb            1
370416  aac308131e4b0ee920f35301b8937eba            1
370415  aac2ac7ad164020fa7d9d8ed8fba8351            1
370414  aac2a0e94280be04c9085e49d00c1cb6            1
370413  aac296b866cf06da0110ef762d7b5a89            1
370412  aac28e7242f79c49ab23b9cc0ffbfafd            1
370411  aac27ad9fc9bb57a0f4ff479bd49de87            1
370410  aac273fe3205aa17fe2bc4b152925f8a            1
370409  aac20a218d3fcb383f5a98c13d8741f1            1
370408  aac2082f39eb7f04d5b86a13d9bf5bd7            1
370407  aac1a337636a25971a8d9f0f5308d26e            1
370406  aac198daae15f41c46279683a4d7eb68            1
370420  aac3c74e32581aa9258e5b5b9b8a4d87            1
370405  aac18578492111aa8b33fedd047ce3e4            1
370403  aac16fefa710f552f30ea23041f59a59            1
370402  aac141562a05b7dc74de31a770766241            1
370401  aac1280096daf78703598da7c5406196            1
370400  aac108937e124248d275361907c5961b            1
370399  aac0f365193bbee5a6d04e32c3864eae            1
370398  aac0d75fe0aa441cfe2f45ab05c98a86            1
370397  aac0a2e08a4ca243de47209bb44e1d08            1
370396  aac09475d7787eaf8e5f23c389874025            1
370395  aac0931e042febac77f5eec57ef73b00            1
370394  aac07a3e5b3600259459a0d41702ea41            1
370393  aac07a16b5d4f195a27794d0680841e7            1
370392  aac0737886c8bb7b7a53c611170a1946            1
370391  aac06ecbbff3ebeaf7c6b8606c98ec8f            1
370390  aac0414f6a4346bb7ad155659b8bbde9            1
370404  aac1750894cce8ba1af5537eb1cb9fc2            1
370521  aace4b985e1f0bc5fbd26ab5d1181014            1

In [37]:
trans_count = trans[trans['merch_count'] > 1]
trans_count

Empty DataFrame
Columns: [trans_num, merch_count]
Index: []

In [38]:
#merchant_id creation
fraud_df['merchant_id'] = fraud_df['merchant'].astype('category').cat.codes + 1
fraud_df.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,customerID,address_id,merchant_id
0,2020-06-21 12:14:00,2291160000000000,Kirlin and Sons,personal care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,2013-06-21 12:14:25,33.986391,-81.200714,False,74078269,57867665,320
1,2020-06-21 12:14:00,3573030000000000,Sporer-Keebler,personal care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,2013-06-21 12:14:33,39.450498,-109.960431,False,18702918,6717278,592
2,2020-06-21 12:14:00,3598220000000000,"Swaniawski, Nitzsche and Welch",health fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,2013-06-21 12:14:53,40.495810,-74.196111,False,95127892,90914912,612
3,2020-06-21 12:15:00,3591920000000000,Haley Group,misc pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,2013-06-21 12:15:15,28.812398,-80.883061,False,59734903,62699687,223
4,2020-06-21 12:15:00,3526830000000000,Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,2013-06-21 12:15:17,44.959148,-85.884734,False,81017923,83216614,293

In [39]:
#checking should have 693 unique values
merch_id = fraud_df[['merchant_id']].drop_duplicates()
count_merch = len(merch_id)
count_merch

693

### trans_date_trans_time and unix_time

In [40]:
time = fraud_df[['trans_date_trans_time','unix_time']].drop_duplicates()
time = time.sort_values(by='trans_date_trans_time')
time.head(100)
#unix_time is down to the last second. Drop trans_date_trans_time as we don't need it

    trans_date_trans_time           unix_time
0     2020-06-21 12:14:00 2013-06-21 12:14:25
1     2020-06-21 12:14:00 2013-06-21 12:14:33
2     2020-06-21 12:14:00 2013-06-21 12:14:53
3     2020-06-21 12:15:00 2013-06-21 12:15:15
4     2020-06-21 12:15:00 2013-06-21 12:15:17
5     2020-06-21 12:15:00 2013-06-21 12:15:37
6     2020-06-21 12:15:00 2013-06-21 12:15:44
7     2020-06-21 12:15:00 2013-06-21 12:15:50
8     2020-06-21 12:16:00 2013-06-21 12:16:10
9     2020-06-21 12:16:00 2013-06-21 12:16:11
10    2020-06-21 12:16:00 2013-06-21 12:16:20
11    2020-06-21 12:16:00 2013-06-21 12:16:47
12    2020-06-21 12:17:00 2013-06-21 12:17:21
15    2020-06-21 12:18:00 2013-06-21 12:18:41
16    2020-06-21 12:18:00 2013-06-21 12:18:54
13    2020-06-21 12:18:00 2013-06-21 12:18:27
14    2020-06-21 12:18:00 2013-06-21 12:18:37
17    2020-06-21 12:19:00 2013-06-21 12:19:50
18    2020-06-21 12:19:00 2013-06-21 12:19:56
19    2020-06-21 12:20:00 2013-06-21 12:20:13
20    2020-06-21 12:20:00 2013-06-21 12:20:34
21    2020-06-21 12:20:00 2013-06-21 12:20:42
22    2020-06-21 12:20:00 2013-06-21 12:20:57
24    2020-06-21 12:21:00 2013-06-21 12:21:47
23    2020-06-21 12:21:00 2013-06-21 12:21:46
25    2020-06-21 12:23:00 2013-06-21 12:23:08
26    2020-06-21 12:23:00 2013-06-21 12:23:09
27    2020-06-21 12:23:00 2013-06-21 12:23:53
28    2020-06-21 12:24:00 2013-06-21 12:24:11
29    2020-06-21 12:24:00 2013-06-21 12:24:16
30    2020-06-21 12:25:00 2013-06-21 12:25:09
35    2020-06-21 12:26:00 2013-06-21 12:26:26
34    2020-06-21 12:26:00 2013-06-21 12:26:25
31    2020-06-21 12:26:00 2013-06-21 12:26:10
32    2020-06-21 12:26:00 2013-06-21 12:26:13
33    2020-06-21 12:26:00 2013-06-21 12:26:23
36    2020-06-21 12:27:00 2013-06-21 12:27:08
37    2020-06-21 12:27:00 2013-06-21 12:27:22
38    2020-06-21 12:27:00 2013-06-21 12:27:40
39    2020-06-21 12:27:00 2013-06-21 12:27:54
40    2020-06-21 12:28:00 2013-06-21 12:28:06
41    2020-06-21 12:28:00 2013-06-21 12:28:23
42    2020-06-21 12:28:00 2013-06-21 12:28:39
49    2020-06-21 12:29:00 2013-06-21 12:29:56
47    2020-06-21 12:29:00 2013-06-21 12:29:36
46    2020-06-21 12:29:00 2013-06-21 12:29:33
48    2020-06-21 12:29:00 2013-06-21 12:29:46
44    2020-06-21 12:29:00 2013-06-21 12:29:27
43    2020-06-21 12:29:00 2013-06-21 12:29:25
45    2020-06-21 12:29:00 2013-06-21 12:29:30
50    2020-06-21 12:30:00 2013-06-21 12:30:19
52    2020-06-21 12:30:00 2013-06-21 12:30:28
53    2020-06-21 12:30:00 2013-06-21 12:30:39
54    2020-06-21 12:31:00 2013-06-21 12:31:19
55    2020-06-21 12:31:00 2013-06-21 12:31:23
56    2020-06-21 12:31:00 2013-06-21 12:31:32
57    2020-06-21 12:32:00 2013-06-21 12:32:35
58    2020-06-21 12:32:00 2013-06-21 12:32:36
59    2020-06-21 12:32:00 2013-06-21 12:32:39
60    2020-06-21 12:32:00 2013-06-21 12:32:50
61    2020-06-21 12:32:00 2013-06-21 12:32:51
65    2020-06-21 12:33:00 2013-06-21 12:33:45
64    2020-06-21 12:33:00 2013-06-21 12:33:31
66    2020-06-21 12:33:00 2013-06-21 12:33:58
62    2020-06-21 12:33:00 2013-06-21 12:33:21
63    2020-06-21 12:33:00 2013-06-21 12:33:30
67    2020-06-21 12:34:00 2013-06-21 12:34:07
68    2020-06-21 12:34:00 2013-06-21 12:34:35
69    2020-06-21 12:35:00 2013-06-21 12:35:55
71    2020-06-21 12:36:00 2013-06-21 12:36:17
72    2020-06-21 12:37:00 2013-06-21 12:37:03
73    2020-06-21 12:37:00 2013-06-21 12:37:59
74    2020-06-21 12:38:00 2013-06-21 12:38:04
75    2020-06-21 12:38:00 2013-06-21 12:38:05
76    2020-06-21 12:38:00 2013-06-21 12:38:22
84    2020-06-21 12:39:00 2013-06-21 12:39:56
81    2020-06-21 12:39:00 2013-06-21 12:39:45
80    2020-06-21 12:39:00 2013-06-21 12:39:44
83    2020-06-21 12:39:00 2013-06-21 12:39:54
78    2020-06-21 12:39:00 2013-06-21 12:39:25
79    2020-06-21 12:39:00 2013-06-21 12:39:42
77    2020-06-21 12:39:00 2013-06-21 12:39:10
82    2020-06-21 12:39:00 2013-06-21 12:39:49
85    2020-06-21 12:40:00 2013-06-21 12:40:32
86    2020-06-21 12:40:00 2013-06-21 12:40:33
87    2020-06-21 12:40:00 2013-06-21 12:40:36
88    2020-06-21 12:40:00 2013-06-21 12:40:45
89    2020-06-21 12:41:00 2013-06-21 12:41:34
91    2020-06-21 12:42:00 2013-06-21 12:42:11
92    2020-06-21 12:42:00 2013-06-21 12:42:29
90    2020-06-21 12:42:00 2013-06-21 12:42:07
93    2020-06-21 12:43:00 2013-06-21 12:43:07
94    2020-06-21 12:43:00 2013-06-21 12:43:09
95    2020-06-21 12:43:00 2013-06-21 12:43:14
96    2020-06-21 12:43:00 2013-06-21 12:43:58
98    2020-06-21 12:44:00 2013-06-21 12:44:29
97    2020-06-21 12:44:00 2013-06-21 12:44:12
100   2020-06-21 12:45:00 2013-06-21 12:45:48
99    2020-06-21 12:45:00 2013-06-21 12:45:23
101   2020-06-21 12:46:00 2013-06-21 12:46:08

In [41]:
fraud_df.drop(columns=['unix_time'],inplace=True)
fraud_df.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud,customerID,address_id,merchant_id
0,2020-06-21 12:14:00,2291160000000000,Kirlin and Sons,personal care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,33.986391,-81.200714,False,74078269,57867665,320
1,2020-06-21 12:14:00,3573030000000000,Sporer-Keebler,personal care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,39.450498,-109.960431,False,18702918,6717278,592
2,2020-06-21 12:14:00,3598220000000000,"Swaniawski, Nitzsche and Welch",health fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,40.495810,-74.196111,False,95127892,90914912,612
3,2020-06-21 12:15:00,3591920000000000,Haley Group,misc pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,28.812398,-80.883061,False,59734903,62699687,223
4,2020-06-21 12:15:00,3526830000000000,Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,44.959148,-85.884734,False,81017923,83216614,293

# Rename columns

In [42]:
fraud_df = fraud_df.rename(columns = {'cc_num':'c_cc_num','merchant':'merch_name','category':'trans_category_type','amt':'trans_amt','first':'c_first','last':'c_last','gender':'c_gender','street':'a_street','city':'cs_city','state':'cs_state','zip':'a_zip','lat':'a_lat','long':'a_long','city_pop':'cs_city_pop','job':'c_job','dob':'c_dob','customerID':'customer_id','trans_date_trans_time':'trans_date_time','is_fraud':'trans_is_fraud'})

In [43]:
fraud_df.columns

Index(['trans_date_time', 'c_cc_num', 'merch_name', 'trans_category_type',
       'trans_amt', 'c_first', 'c_last', 'c_gender', 'a_street', 'cs_city',
       'cs_state', 'a_zip', 'a_lat', 'a_long', 'cs_city_pop', 'c_job', 'c_dob',
       'trans_num', 'merch_lat', 'merch_long', 'trans_is_fraud', 'customer_id',
       'address_id', 'merchant_id'],
      dtype='object')

In [44]:
fraud_df.head(5)

,trans_date_time,c_cc_num,merch_name,trans_category_type,trans_amt,c_first,c_last,c_gender,a_street,cs_city,cs_state,a_zip,a_lat,a_long,cs_city_pop,c_job,c_dob,trans_num,merch_lat,merch_long,trans_is_fraud,customer_id,address_id,merchant_id
0,2020-06-21 12:14:00,2291160000000000,Kirlin and Sons,personal care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,33.986391,-81.200714,False,74078269,57867665,320
1,2020-06-21 12:14:00,3573030000000000,Sporer-Keebler,personal care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,39.450498,-109.960431,False,18702918,6717278,592
2,2020-06-21 12:14:00,3598220000000000,"Swaniawski, Nitzsche and Welch",health fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,40.495810,-74.196111,False,95127892,90914912,612
3,2020-06-21 12:15:00,3591920000000000,Haley Group,misc pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,28.812398,-80.883061,False,59734903,62699687,223
4,2020-06-21 12:15:00,3526830000000000,Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,44.959148,-85.884734,False,81017923,83216614,293

# Updated Data Dictionary

In [45]:
dictionary = []
total_rows = len(fraud_df)

for col in fraud_df.columns:
    data_type = fraud_df[col].dtype
    max_length = None
    min_length = None
    max_value = None
    min_value = None
    med_value = None
    
    if pd.api.types.is_string_dtype(fraud_df[col]):
        max_length = fraud_df[col].str.len().max()
        min_length = fraud_df[col].str.len().min()

    if np.issubdtype(data_type, np.number):
        min_value = fraud_df[col].min()
        max_value = fraud_df[col].max() 
        med_value = fraud_df[col].median()

    if np.issubdtype(data_type, np.datetime64):
        min_value = fraud_df[col].min()
        max_value = fraud_df[col].max()

    num_nulls = fraud_df[col].isnull().sum()
    num_nulls_format = '{:,}'.format(num_nulls)
    percentage_null = (num_nulls / total_rows) * 100
    percentage_null_format = '{:.2f}%'.format(percentage_null)
    num_distinct = fraud_df[col].nunique()
    num_distinct_format = '{:,}'.format(num_distinct)

    sample_values = fraud_df[col].dropna().sample(5).tolist()

    dictionary.append([
        col, data_type, max_length, min_length, num_nulls_format, 
        percentage_null_format, num_distinct_format, min_value, 
        med_value, max_value, sample_values
    ])

dictionary_df = pd.DataFrame(
    dictionary, 
    columns=[
        'Column', 'Data_Type', 'Max_Character_Length', 'Min_Character_Length', 
        'Null_Value_Count', 'Null_Percentage', 'Distinct_Value_Count', 
        'Min_Value', 'Med_Value', 'Max_Value', 'Sample_Values'
    ]
)

# So that Sample_Values are not truncated
pd.set_option('display.max_colwidth', 1000)

dictionary_df

,Column,Data_Type,Max_Character_Length,Min_Character_Length,Null_Value_Count,Null_Percentage,Distinct_Value_Count,Min_Value,Med_Value,Max_Value,Sample_Values
0,trans_date_time,datetime64[ns],NaN,NaN,0,0.00%,"226,976",2020-06-21 12:14:00,NaN,2020-12-31 23:59:00,"[2020-10-09 05:11:00, 2020-12-01 09:16:00, 2020-12-29 22:42:00, 2020-10-14 10:35:00, 2020-12-29 22:15:00]"
1,c_cc_num,int64,NaN,NaN,0,0.00%,904,60416207185,3.521420e+15,4992350000000000000,"[4981130000000, 4908850000000000, 38947700000000, 180067000000000, 560881000000]"
2,merch_name,object,37.0,7.0,0,0.00%,693,None,NaN,None,"[Casper, Hand and Zulauf, Goodwin-Nitzsche, Dooley Inc, Cartwright PLC, Eichmann-Kilback]"
3,trans_category_type,object,14.0,4.0,0,0.00%,14,None,NaN,None,"[shopping pos, shopping net, travel, misc net, health fitness]"
4,trans_amt,float64,NaN,NaN,0,0.00%,"37,256",1.0,4.729000e+01,22768.11,"[63.1, 8.47, 86.83, 1.11, 147.08]"
5,c_first,object,11.0,3.0,0,0.00%,341,None,NaN,None,"[Vicki, Dawn, Brooke, Raymond, Walter]"
6,c_last,object,11.0,2.0,0,0.00%,471,None,NaN,None,"[Smith, Khan, Walker, Myers, Rodriguez]"
7,c_gender,object,1.0,1.0,0,0.00%,2,None,NaN,None,"[M, F, M, M, M]"
8,a_street,object,35.0,12.0,0,0.00%,924,None,NaN,None,"[1833 Jeanette Stravenue, 3522 Park Wells Suite 528, 17666 David Valleys, 7854 Stephanie Island Suite 788, 551 Zachary Freeway]"
9,cs_city,object,25.0,3.0,0,0.00%,849,None,NaN,None,"[Powell Butte, New York City, Alva, Monmouth Beach, San Angelo]"
10,cs_state,object,2.0,2.0,0,0.00%,50,None,NaN,None,"[IL, KS, TX, OH, WI]"
11,a_zip,int64,NaN,NaN,0,0.00%,912,1257,4.817400e+04,99921,"[3818, 40077, 43767, 33811, 87533]"
12,a_lat,float64,NaN,NaN,0,0.00%,910,20.0271,3.937160e+01,65.6899,"[32.6786, 39.047, 48.34, 36.6659, 46.0062]"
13,a_long,float64,NaN,NaN,0,0.00%,910,-165.6723,-8.747690e+01,-67.9503,"[-80.8685, -81.1286, -82.7152, -98.7388, -81.1807]"
14,cs_city_pop,int64,NaN,NaN,0,0.00%,835,23,2.408000e+03,2906700,"[397, 6703, 761, 757530, 124967]"
15,c_job,object,59.0,3.0,0,0.00%,478,None,NaN,None,"[Claims inspector/assessor, Control and instrumentation engineer, Architect, Hospital doctor, Higher education careers adviser]"
16,c_dob,object,NaN,NaN,0,0.00%,910,None,NaN,None,"[1941-04-23, 1952-04-02, 1987-05-19, 1984-03-03, 1975-09-11]"
17,trans_num,object,32.0,32.0,0,0.00%,"555,719",None,NaN,None,"[d164dc2b13934a9e77d8858ff8217532, 9582c007e9c1e1500466740f73d1ea18, 2d7a58e968226a660aae06b39e0e8072, aa5f2c0d4d5a0a0d5ffeb6bff6e17587, a374915c0d5423dccc59890768c1e1a4]"
18,merch_lat,float64,NaN,NaN,0,0.00%,"546,490",19.027422,3.937659e+01,66.679297,"[43.067122, 39.624774, 33.798547, 38.223006, 38.507205]"
19,merch_long,float64,NaN,NaN,0,0.00%,"551,770",-166.671575,-8.744520e+01,-66.952026,"[-108.31001, -77.908871, -74.945649, -77.626667, -75.40512]"
20,trans_is_fraud,bool,NaN,NaN,0,0.00%,2,None,NaN,None,"[False, False, False, False, False]"
21,customer_id,int64,NaN,NaN,0,0.00%,924,146774,5.309763e+07,99961496,"[26474803, 74916531, 42333142, 72839023, 41670301]"
22,address_id,int64,NaN,NaN,0,0.00%,924,75716,4.984801e+07,99637897,"[49848011, 9036103, 69551642, 48670215, 59170945]"
23,merchant_id,int16,NaN,NaN,0,0.00%,693,1,3.470000e+02,693,"[154, 664, 605, 513, 439]"

In [51]:
fraud_df.to_csv('fraud.csv', index=False)

# Database

In [46]:
# Connection parameters for connecting to the PostgreSQL server
server_params = {
    'dbname': 'postgres',
    'user': 'postgres',
    'password': 'welcome1',
    'host': 'localhost',
}

In [47]:
# Connect to the default database ('postgres') to create a new database
conn = psycopg2.connect(**server_params)
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cursor = conn.cursor()

In [ ]:
# Create a new database
cursor.execute("CREATE DATABASE fraud;")
cursor.close()
conn.close()

In [ ]:
# Connection parameters for connecting to the PostgreSQL server
db_params  = {
    'dbname': 'fraud',
    'user': 'postgres',
    'password': 'welcome1',
    'host': 'localhost',
}

# Tables

In [ ]:
# Connect to the newly created database to create a table
conn = psycopg2.connect(**db_params)
cursor = conn.cursor()

### customer

In [ ]:
# Create a table
cursor.execute("""
CREATE TABLE customer (
    customer_id INT4 PRIMARY KEY,
    c_cc_num INT8,
    c_first VARCHAR(50),
    c_last VARCHAR(50),
    c_gender VARCHAR(2),
    c_dob date,
    c_job VARCHAR(70)    
);
""")
conn.commit()

In [ ]:
# extract customer table from fraud_df
customer = fraud_df[['customer_id','c_cc_num','c_first','c_last','c_gender','c_dob','c_job']].drop_duplicates()
customer.head(3)

In [ ]:
# Load to customer table
insert_query = """
INSERT INTO customer (customer_id, c_cc_num, c_first, c_last, c_gender, c_dob, c_job)
VALUES (%s, %s, %s, %s, %s, %s, %s)
ON CONFLICT (customer_id) DO UPDATE SET
    c_cc_num = EXCLUDED.c_cc_num,
    c_first = EXCLUDED.c_first,
    c_last = EXCLUDED.c_last,
    c_gender = EXCLUDED.c_gender,
    c_dob = EXCLUDED.c_dob,
    c_job = EXCLUDED.c_job;
"""

# Inserting customer df data
data_to_insert = [
    (
        row['customer_id'], row['c_cc_num'], row['c_first'], row['c_last'],
        row['c_gender'], row['c_dob'], row['c_job']
    )
    for index, row in customer.iterrows()
]

cursor.executemany(insert_query, data_to_insert)
conn.commit()

In [ ]:
# Rollback the current transaction if there is an error
conn.rollback()

### address

In [ ]:
# Create a table
cursor.execute("""
CREATE TABLE address (
    address_id INT4 PRIMARY KEY,
    a_street VARCHAR(50),
    a_zip INT4,
    a_lat FLOAT8,
    a_long FLOAT8,
    customer_id INT4,
    cs_city VARCHAR(50),
    cs_state VARCHAR(3)
);
""")
conn.commit()

In [ ]:
# extract address table from fraud_df
address = fraud_df[['address_id','a_street','a_zip','a_lat','a_long','customer_id','cs_city','cs_state']].drop_duplicates()
address.head(5)

In [ ]:
# Load to address table
insert_query = """
INSERT INTO address (address_id, a_street, a_zip, a_lat, a_long, customer_id, cs_city, cs_state)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
ON CONFLICT (address_id) DO UPDATE SET
    a_street = EXCLUDED.a_street,
    a_zip = EXCLUDED.a_zip,
    a_lat = EXCLUDED.a_lat,
    a_long = EXCLUDED.a_long,
    customer_id = EXCLUDED.customer_id,
    cs_city = EXCLUDED.cs_city,
    cs_state = EXCLUDED.cs_state;
"""

# Inserting address df data
data_to_insert = [
    (
        row['address_id'], row['a_street'], row['a_zip'], row['a_lat'],
        row['a_long'], row['customer_id'], row['cs_city'], row['cs_state']
    )
    for index, row in address.iterrows()
]

cursor.executemany(insert_query, data_to_insert)
conn.commit()

In [ ]:
# Creation of FK customer_id
#Adding FK
FK_customer_id = """
    ALTER TABLE address
    ADD CONSTRAINT fk_customer_id
    FOREIGN KEY (customer_id)
    REFERENCES customer(customer_id)
    ON DELETE CASCADE;
"""

# Execute the ALTER TABLE statement
cursor.execute(FK_customer_id)

# Commit the transaction
conn.commit()

In [ ]:
# Rollback the current transaction if there is an error
conn.rollback()

### city_state

In [ ]:
# Create a table
cursor.execute("""
CREATE TABLE city_state (
    cs_city VARCHAR(50),
    CS_state VARCHAR(3),
    cs_city_pop INT4,
    PRIMARY KEY (cs_city,CS_state)
);
""")
conn.commit()

In [ ]:
# extract city_state table from fraud_df
city_state = fraud_df[['cs_city','cs_state','cs_city_pop']].drop_duplicates()
city_state.head(3)

In [ ]:
# Load to city_state table
insert_query = """
INSERT INTO city_state (cs_city, cs_state, cs_city_pop)
VALUES (%s, %s, %s)
ON CONFLICT (cs_city, cs_state) DO UPDATE SET
    cs_city_pop = EXCLUDED.cs_city_pop;
"""

# Inserting city_state df data
data_to_insert = [
    (
        row['cs_city'], row['cs_state'], row['cs_city_pop']
    )
    for index, row in city_state.iterrows()
]

cursor.executemany(insert_query, data_to_insert)
conn.commit()

In [ ]:
# Creation of FK cs_city and cs_state
#Adding FK
FK_city_state = """
    ALTER TABLE address
    ADD CONSTRAINT fk_city_state
    FOREIGN KEY (cs_city, cs_state)
    REFERENCES city_state (cs_city, cs_state)
    ON DELETE CASCADE;
    """
    
# Execute the SQL command
cursor.execute(FK_city_state)

# Commit the changes to the database
conn.commit()

In [ ]:
# Rollback the current transaction if there is an error
conn.rollback()

### merchant

In [ ]:
# Create a table
cursor.execute("""
CREATE TABLE merchant (
    merchant_id INT4 PRIMARY KEY,
    merch_name VARCHAR(50),
    merch_lat FLOAT8,
    merch_long FLOAT8
);
""")
conn.commit()

In [49]:
# extract merchant table from fraud_df
merchant = fraud_df[['merchant_id','merch_name','merch_lat','merch_long']].drop_duplicates()
merchant.head(3)

   merchant_id                      merch_name  merch_lat  merch_long
0          320                 Kirlin and Sons  33.986391  -81.200714
1          592                  Sporer-Keebler  39.450498 -109.960431
2          612  Swaniawski, Nitzsche and Welch  40.495810  -74.196111

In [ ]:
# Load to merchant table
insert_query = """
INSERT INTO merchant (merchant_id, merch_name, merch_lat, merch_long)
VALUES (%s, %s, %s, %s)
ON CONFLICT (merchant_id) DO UPDATE SET
    merch_name = EXCLUDED.merch_name,
    merch_lat = EXCLUDED.merch_lat,
    merch_long = EXCLUDED.merch_long;
"""

# Inserting merchant df data
data_to_insert = [
    (
        row['merchant_id'], row['merch_name'], row['merch_lat'], row['merch_long']
    )
    for index, row in merchant.iterrows()
]

cursor.executemany(insert_query, data_to_insert)
conn.commit()

In [ ]:
# Rollback the current transaction if there is an error
conn.rollback()

### transaction

In [ ]:
# Create a table
cursor.execute("""
CREATE TABLE transaction (
    trans_num VARCHAR(255) PRIMARY KEY,
    trans_amt FLOAT8,
    trans_category_type VARCHAR(20),
    trans_date_time TIMESTAMP,
    trans_is_fraud BOOL,
    customer_id INT4,
    merchant_id INT4
);
""")
conn.commit()

In [ ]:
# extract transaction table from fraud_df
transaction = fraud_df[['trans_num','trans_amt','trans_category_type','trans_date_time','trans_is_fraud','customer_id','merchant_id']].drop_duplicates()
transaction.head(3)

In [ ]:
count = len(transaction)
count

In [ ]:
# Load to transaction table
insert_query = """
INSERT INTO transaction (trans_num, trans_amt, trans_category_type, trans_date_time, trans_is_fraud, customer_id, merchant_id)
VALUES (%s, %s, %s, %s, %s, %s, %s)
ON CONFLICT (trans_num) DO UPDATE SET
    trans_amt = EXCLUDED.trans_amt,
    trans_category_type = EXCLUDED.trans_category_type,
    trans_date_time = EXCLUDED.trans_date_time,
    trans_is_fraud = EXCLUDED.trans_is_fraud,
    customer_id = EXCLUDED.customer_id,
    merchant_id = EXCLUDED.merchant_id;
"""

# Inserting transaction df data
data_to_insert = [
    (
        row['trans_num'], row['trans_amt'], row['trans_category_type'], row['trans_date_time'], row['trans_is_fraud'], row['customer_id'], row['merchant_id']
    )
    for index, row in transaction.iterrows()
]

cursor.executemany(insert_query, data_to_insert)
conn.commit()

In [ ]:
# Creation of FK cs_city and cs_state
#Adding FK
FK_trans_customer_id = """
    ALTER TABLE transaction
    ADD CONSTRAINT fk_trans_customer_id
    FOREIGN KEY (customer_id)
    REFERENCES customer (customer_id)
    ON DELETE CASCADE;
    """
FK_trans_merchant_id = """
    ALTER TABLE transaction
    ADD CONSTRAINT fk_trans_merchant_id
    FOREIGN KEY (merchant_id)
    REFERENCES merchant (merchant_id)
    ON DELETE CASCADE;
    """
    
# Execute the SQL command
cursor.execute(FK_trans_customer_id)
cursor.execute(FK_trans_merchant_id)

# Commit the changes to the database
conn.commit()

In [ ]:
# Rollback the current transaction if there is an error
conn.rollback()

In [85]:
# Clean up the database connections
cursor.close()
conn.close()